<div class="bg-white w-full hidden md:flex flex-col justify-center items-center">
    <div class="h-20"></div>
    <div class="tracking-wide text-green-dark font-semibold lg:text-[2vw] md:text-[2.8vw] ">{{"ourmarket" |
        translate}}</div>
    <div class="h-8"></div>
    <!-- grid grid-cols-4 lg:gap-x-4 gap-y-3 md:gap-6 lg:scale-100 md:scale-90 -->
    <div
        class="lg:w-8/12 md:w-11/12 h-96 mx-auto grid grid-cols-3 lg:gap-x-4 gap-y-3 md:gap-6 lg:scale-100 md:scale-90 ">



        <div class="w-[16vw] flex flex-col justify-center items-center">
            <div *ngIf="languageService.selectedLanguage == 'en' " class="lg:h-2 md:h-4"></div>
            <div *ngIf="languageService.selectedLanguage == 'ku' " class="lg:h-1 md:h-4"></div>
            <div *ngIf="languageService.selectedLanguage == 'ar' " class="lg:h-1 md:h-4"></div>
            <img src="../../../assets/icons/indices.svg">
            <div [ngClass]="{'lg:h-2 md:h-4': languageService.selectedLanguage == 'en', 'lg:h-3 md:h-4': languageService.selectedLanguage == 'ku',  'lg:h-2 md:h-3': languageService.selectedLanguage == 'ar'   }"
                class=""></div>
            <div class="text-green-dark lg:text-[1.6vw] md:text-[2vw] font-medium">{{"indices" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 lg:text-[1vw] md:text-[1.5vw] font-medium text-center ">
                {{"DAX40S&P500NASDAQ100"
                |
                translate}} </div>
        </div>

       

        <div class="w-[16vw] flex flex-col justify-center items-center">
            <img src="../../../assets/icons/metals.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.6vw] md:text-[2vw] font-medium">{{"metals" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 lg:text-[1vw] md:text-[1.5vw] font-medium text-center"> {{"GoldCopperSilver" |
                translate}}</div>
        </div>

        <div class="w-[16vw]  flex flex-col justify-center items-center ">
            <img src="../../../assets/icons/currencies.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.6vw] md:text-[2vw] font-medium">{{"currencies" | translate}}
            </div>
            <div class="h-2"></div>
            <div class="text-gray-900 lg:text-[1vw] md:text-[1.5vw] font-medium text-center"> {{"EURUSDGBPUSDUSDCAD"
                |
                translate}}</div>
        </div>

        <div class="w-[16vw] flex flex-col justify-center items-center">
            <div *ngIf="languageService.selectedLanguage == 'ku' " class="h-4"></div>
            <div *ngIf="languageService.selectedLanguage == 'ar' " class="md:h-2 lg:h-0"></div>


            <img src="../../../assets/icons/energies.svg">
            <div *ngIf="languageService.selectedLanguage == 'ku' " class="h-1"></div>
            <div *ngIf="languageService.selectedLanguage == 'ar' " class="md:h-3 lg:h-0"></div>

            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.6vw] md:text-[2vw] font-medium">{{"energies" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 lg:text-[1vw] md:text-[1.5vw] font-medium text-center">
                {{"NaturalGasBrentOilWTIOil" |
                translate}}</div>
        </div>

        <div class="w-[16vw] flex flex-col justify-center items-center">
            <div *ngIf="languageService.selectedLanguage == 'en' " class="h-3"></div>
            <div *ngIf="languageService.selectedLanguage == 'ku' " class="h-1"></div>

            <img src="../../../assets/icons/agriculture.svg">
            <div *ngIf="languageService.selectedLanguage == 'en' " class="h-3"></div>
            <div *ngIf="languageService.selectedLanguage == 'ku' " class="h-5"></div>
            <div *ngIf="languageService.selectedLanguage == 'ar' " class="h-5"></div>

            <div class="text-green-dark lg:text-[1.6vw] md:text-[2vw] font-medium">{{"agriculture" | translate}}
            </div>
            <div class="h-2"></div>
            <div class="text-gray-900 lg:text-[1vw] md:text-[1.5vw] font-medium text-center"> {{"CornSoymealWheat" |
                translate}}</div>
        </div>

        <div class="w-[16vw] flex flex-col justify-center items-center">
            <img src="../../../assets/icons/stocks.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.6vw] md:text-[2vw] font-medium">{{"stocks" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 lg:text-[1vw] md:text-[1.5vw] font-medium text-center"> {{"FacebookLyftSnap" |
                translate}}</div>
        </div>



        <!-- <div class="flex flex-col justify-center items-center ">
            <img src="../../../assets/icons/cryptocurrencies.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.6vw] md:text-[2vw] font-medium">{{"cryptocurrencies" | translate}}
            </div>
            <div class="h-2"></div>
            <div class="text-gray-900 lg:text-[1vw] md:text-[1.5vw] font-medium text-center"> {{"BTCUSDLTCUSDXPRUSD" |
                translate}}</div>
        </div> -->




    </div>

    <div class="h-20"></div>

</div>




<!-- mobile -->

<div class="bg-white w-full md:hidden flex flex-col justify-center items-center">
    <div class="h-24"></div>
    <div class="tracking-wide text-[6vw] text-green-dark font-semibold">{{"ourmarket" | translate}}</div>
    <div class="h-10"></div>
    <div class="w-10/12  grid grid-cols-2 gap-y-7">

        <div class="flex flex-col justify-start items-center">
            <img src="../../../assets/icons/indices.svg">
            <div class="h-3"></div>
            <div class="text-green-dark text-[5vw] font-medium">{{"indices" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 text-[4vw] text-center "> {{"DAX40S&P500NASDAQ100" | translate}}</div>
        </div>

       
        <div class="flex flex-col justify-start items-center">
            <img src="../../../assets/icons/metals.svg">
            <div class="h-3"></div>
            <div class="text-green-dark text-[5vw] font-medium">{{"metals" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 text-[4vw] text-center"> {{"GoldCopperSilver" | translate}}</div>
        </div>

        <!-- <div class="flex flex-col justify-start items-center">
            <img src="../../../assets/icons/cryptocurrencies.svg">
            <div class="h-3"></div>
            <div class="text-green-dark text-[5vw] font-medium">{{"cryptocurrencies" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 text-sm text-center"> {{"BTCUSDLTCUSDXPRUSD" | translate}}</div>
        </div> -->

        <div class="flex flex-col justify-start items-center">
            <img src="../../../assets/icons/currencies.svg">
            <div class="h-3"></div>
            <div class="text-green-dark text-[5vw] font-medium">{{"currencies" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 text-[4vw] text-center"> {{"EURUSDGBPUSDUSDCAD" | translate}}</div>
        </div>

        <div class="flex flex-col justify-start items-center">
            <img src="../../../assets/icons/energies.svg">
            <div class="h-3"></div>
            <div class="text-green-dark text-[5vw] font-medium">{{"energies" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 text-[4vw] text-center"> {{"NaturalGasBrentOilWTIOil" | translate}}</div>
        </div>

        <div class="flex flex-col justify-start items-center">
            <div class="h-2"></div>
            <img src="../../../assets/icons/agriculture.svg">
            <div class="h-3"></div>
            <div class="text-green-dark text-[5vw] font-medium">{{"agriculture" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 text-[4vw] text-center"> {{"CornSoymealWheat" | translate}}</div>
        </div>

        <div class="flex flex-col justify-start items-center">
            <img src="../../../assets/icons/stocks.svg">
            <div class="h-3"></div>
            <div class="text-green-dark text-[5vw] font-medium">{{"stocks" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-gray-900 text-[4vw] text-center"> {{"FacebookLyftSnap" | translate}}</div>
        </div>

    </div>

    <div class="h-20"></div>

</div>