<div #topnews id="topnews">
    <app-navbar></app-navbar>
</div>


<div class="lg:h-24 bg-white md:h-20 h-16"></div>



<div class="   md:block w-full" style="background-color: #F8F8F8;">
    <div class="h-14"></div>

        <!-- yaknewsss -->
    <div [ngClass]="{'lg:pl-24 md:pl-16' : languageService.selectedLanguage == 'en' , 'lg:pr-24 md:pr-16' : languageService.selectedLanguage != 'en' }"
        class="flex items-center ">
        <div class="absolute w-5/12  image-shadow mt-4" >
            <img  [src]="imageUrl1">
        </div>

         <div class=" w-[50vw]"></div>

        <div class=" w-5/12  h-[50vh] overflow-scroll flex flex-col">
            <div class="text-custom-red text-[1.1vw] font-semibold tracking-wide">{{"tradingnews" | translate}}</div>
            <div class="h-2"></div>
            <div class="text-green-dark text-[2.3vw]  leading-[3vw]">{{"understandingputcallratios" | translate}}
            </div>
            <div class="h-5"></div>
            <div class="text-gray-900 leading-7 text-[1vw] w-11/12">
<!-- english -->
<div *ngIf="languageService.selectedLanguage == 'en'"  
class=" leading-[2vw] text-[1.3vw]">
{{data.title_en}}
<br>
<div *ngIf="languageService.selectedLanguage == 'en'"  
class=" leading-[2vw] text-[1.3vw]">
{{(showMore) ? data.description_en : data.description_en | slice:0:200}}
</div>
</div>

<!-- arabic -->
<div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" leading-[2vw] text-[1.3vw]">
{{data.title_ar}}
<br>
<div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" leading-[2vw] text-[1.3vw]">
<!-- {{data.description_ar}} -->
{{(showMore) ? data.description_ar : data.description_ar | slice:0:200}}

</div>
</div> 

<!-- kurdish -->
<div  *ngIf="languageService.selectedLanguage == 'ku'"
class=" leading-[2vw] text-[1.3vw]">
{{data.title_ku}}
<br>
<div    *ngIf="languageService.selectedLanguage == 'ku'"
class=" leading-[2vw] text-[1.3vw]">
<!-- {{data.description_ku}} -->
{{(showMore) ? data.description_ku : data.description_ku | slice:0:200}}

</div>
</div>              </div>

            <div class="h-4"></div>

            <div class="flex justify-between items-center w-7/12">
                <div class="text-gray-900 text-[0.9vw]">
                    <div>{{data.created_date}}</div> 
                    <br>
                    <div>{{data.created_time}}</div>  
                </div>
                <div   (click)="onChangeShowMore()"    class="w-full px-5 flex justify-end">
                    <span class="text-[0.9vw] font-medium border border-primary-500 rounded px-5 py-2">
                        {{"readmore" | translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>





    <div class="h-24"></div>


    <div class="flex w-full lg:px-24 md:px-16">

       
        <div class="w-8/12  mx-[2vw] ">
            <div class="my-[2vh]" >
 
                <div class=" bg-light-gray pt-[3vh]  flex justify-center items-center">

                    <div (click)="onAll()" class="py-[1vh] text-white hover:text-black mx-[0.5vw] bg-primary-300 hover:bg-gray-200 hover:border hover:border-gray-300 rounded-md w-[10vw] text-center text-[1vw] font-sans"> 
                      All
                    </div>
                 
                     <div  *ngFor="let item of catogory "  (click)="onChangeCatagory(item._id)"  class="py-[1vh] text-white hover:text-black mx-[0.5vw] bg-primary-300 hover:bg-gray-200 hover:border hover:border-gray-300 rounded-md w-[10vw] text-center text-[1vw] font-sans"> 
                         {{item.name_en}}
                      </div>
                     
                      
                     
                  </div>
                       </div>
        <div class="grid grid-cols-2 gap-x-7 gap-y-16" >
            <div *ngFor="let itmes of newss, let i = index"  routerLink="/market&alerts/news_detail/{{itmes._id}}"    class="flex flex-col"  [ngClass]="{'font-ibm-plex-serif': languageService.selectedLanguage == 'en', 'font-droid-arabic-kufi' : languageService.selectedLanguage != 'en' }">
                <img class="w-full object-cover rounded-t"  [src]="imageUrl[i]">
                <div class="h-3"></div>
                <!-- english -->
                <div *ngIf="languageService.selectedLanguage == 'en'"  
                    class="  text-[1.3vw]">
                    <div class="font-semibold">
                        {{itmes.title_en}}

                    </div>
                     <br>
                    <div *ngIf="languageService.selectedLanguage == 'en'"  
                    class=" leading-[2vw] text-[1.3vw]">
                    <!-- {{itmes.description_en}} -->
                    {{  itmes.description_en   | slice:0:200}}

                </div>
                </div>
                
                <!-- arabic -->
                <div *ngIf="languageService.selectedLanguage == 'ar'"  
                class="  text-[1.3vw]">
                <div class="font-semibold">

                {{itmes.title_ar}}
                </div>
                <br>
                <div *ngIf="languageService.selectedLanguage == 'ar'"  
                class=" leading-[2vw] text-[1.3vw]">
                <!-- {{itmes.description_ar}} -->
                {{ itmes.description_ar | slice:0:200}}

            </div>
            </div> 
            
            <!-- kurdish -->
            <div  *ngIf="languageService.selectedLanguage == 'ku'"
            class="  text-[1.3vw]">
            <div class="font-semibold">

            {{itmes.title_ku}}
            </div>
            <br>
            <div    *ngIf="languageService.selectedLanguage == 'ku'"
            class=" leading-[2vw] text-[1.3vw]">
            <!-- {{itmes.description_ku}} -->
            {{ itmes.description_ku | slice:0:200}}

        </div>
              </div>
              <div        class="w-full px-5 flex justify-end">
                <span class="text-[0.9vw] font-medium border border-primary-500 rounded px-5 py-2">
                    {{"seemore" | translate}}
                </span>
            </div>

                <div class="h-5"></div>

                <div class="font-ibm-plex-serif text-gray-500 flex text-[0.9vw]"> <img class="w-[1vw]"
                        src="../../../assets/images/time.svg">
                    <div class="w-1"></div>
                    <div>{{itmes.created_date}}</div> 
                    <br>
                    <div>{{itmes.created_time}}</div> 

                </div>

            </div>




        </div>
</div>
   


        <div class="w-10"></div>


        <div class="w-4/12 ">
            <div class="text-custom-red text-[1vw] font-semibold tracking-wide">{{"tradingnews" | translate}}</div>
            <div class="h-2"></div>
            <div class="flex w-full">
                <div class="border-t border-primary-500 w-40 "></div>
                <div class="w-full border-t border-gray-400"></div>
            </div>

            <div class="h-3"></div>

            <div    *ngFor="let itmes of newss, let i = index"  routerLink="/market&alerts/news_detail/{{itmes._id}}"  class="flex w-full mb-4 ">
                <img class="w-28 h-20 object-cover rounded-t" [src]="imageUrl[i]">
                <div class="w-2"></div>
                <div class="w-9/12 h-20 justify-between flex flex-col">
                    <div [ngClass]="{'font-ibm-plex-serif': languageService.selectedLanguage == 'en', 'font-droid-arabic-kufi' : languageService.selectedLanguage != 'en' }"
                        class=" font-semibold text-[1vw] ">
   <div *ngIf="languageService.selectedLanguage == 'en'"  
  class=" font-semibold text-[1.3vw]">
  {{itmes.title_en}}
  <br>
   
</div>

 <div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" font-semibold text-[1.3vw]">
{{itmes.title_ar}}
<br>
 
</div> 

 <div  *ngIf="languageService.selectedLanguage == 'ku'"
class=" font-semibold text-[1.3vw]">
{{itmes.title_ku}}
<br>
 
</div>                    </div>

                    <div class="h-1"></div>

                    <div class="font-ibm-plex-serif text-gray-500 flex text-[0.8vw]"> <img class="w-[0.9vw]"
                            src="../../../assets/images/time.svg">
                        <div class="w-1"></div>
                        <div>{{itmes.created_date}}</div> 
                        <br>
                        <div>{{itmes.created_time}}</div>                     </div>
                </div>
            </div>

        </div>
    </div>


    <div class="h-20"></div>



    <div class="h-32"></div>

</div>








<div class="md:hidden block w-full" style="background-color: #F8F8F8;">
    <div class="h-12"></div>



     <!-- yak news -->

    <div class=" px-4 ">


        <div class="text-custom-red text-[3.5vw] font-semibold tracking-wide">{{"tradingnews" | translate}}</div>
        <div class="h-6"></div>
        <div class="text-green-dark text-[6.7vw]  leading-[30px]">{{"understandingputcallratios" | translate}}
        </div>

        <div class="h-5"></div>
        <img class="w-full image-shadow mt-4" [src]="imageUrl1">


        <div class="h-5"></div>
        <div class="text-gray-900 leading-7 text-[4vw] ">
<!-- english -->
<div *ngIf="languageService.selectedLanguage == 'en'"  
class=" font-semibold text-[1.3vw]">
{{data.title_en}}
<br>
<div *ngIf="languageService.selectedLanguage == 'en'"  
class=" font-semibold text-[1.3vw]">
{{data.description_en}}
</div>
</div>

<!-- arabic -->
<div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" font-semibold text-[1.3vw]">
{{data.title_ar}}
<br>
<div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" font-semibold text-[1.3vw]">
{{data.description_ar}}
</div>
</div> 

<!-- kurdish -->
<div  *ngIf="languageService.selectedLanguage == 'ku'"
class=" font-semibold text-[1.3vw]">
{{data.title_ku}}
<br>
<div    *ngIf="languageService.selectedLanguage == 'ku'"
class=" font-semibold text-[1.3vw]">
{{data.description_ku}}
</div>
</div>  
        </div>

        <div class="h-4"></div>

        <div class="flex justify-between items-center text-[4vw] ">
            <div class="text-gray-900 ">
                <div>{{data.created_date}}</div> 
                <br>
                <div>{{data.created_time}}</div>  
            </div>
            <div   (click)="onChangeShowMore()"    class="w-full px-5 flex justify-end">
                <span class="text-[0.9vw] font-medium border border-primary-500 rounded px-5 py-2">
                    {{"readmore" | translate}}
                </span>
            </div>
        </div>
    </div>







    <div class="h-14"></div>



    <div class="w-full px-4">
        <div  *ngFor="let itmes of newss, let i = index"  routerLink="/market&alerts/news_detail/{{itmes._id}}"  class="flex flex-col mb-6">
            <img class="w-full object-cover rounded-t" [src]="imageUrl[i]">
            <div class="h-3"></div>
            <div [ngClass]="{'font-ibm-plex-serif' : languageService.selectedLanguage === 'en', 'font-droid-arabic-kufi' : languageService.selectedLanguage !== 'en'  }"
                class=" font-semibold text-[4vw]">
   <div *ngIf="languageService.selectedLanguage == 'en'"  
  class=" font-semibold text-[1.3vw]">
  {{itmes.title_en}}
  <br>
  <div *ngIf="languageService.selectedLanguage == 'en'"  
  class=" font-semibold text-[1.3vw]">
  <!-- {{itmes.description_en}} -->
  {{(showMore) ? itmes.description_en : itmes.description_en | slice:0:200}}

</div>
</div>

 <div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" font-semibold text-[1.3vw]">
{{itmes.title_ar}}
<br>
<div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" font-semibold text-[1.3vw]">
<!-- {{itmes.description_ar}} -->
{{(showMore) ? itmes.description_ar : itmes.description_ar | slice:0:200}}

</div>
</div> 

 <div  *ngIf="languageService.selectedLanguage == 'ku'"
class=" font-semibold text-[1.3vw]">
{{itmes.title_ku}}
<br>
<div    *ngIf="languageService.selectedLanguage == 'ku'"
class=" font-semibold text-[1.3vw]">
<!-- {{itmes.description_ku}} -->
{{(showMore) ? itmes.description_ku : itmes.description_ku | slice:0:200}}

</div>
</div>  
          </div>

            <div class="h-5"></div>

            <div class="font-ibm-plex-serif text-gray-500 flex text-[3vw]"> <img class="w-[3vw]"
                    src="../../../assets/images/time.svg">
                <div class="w-1"></div>
                <div>{{itmes.created_date}}</div> 
                <br>
                <div>{{itmes.created_time}}</div>             </div>
        </div>




    </div>


    <div class="h-10"></div>

    <div class="w-full flex justify-center">
        <button type="button"
            class="inline-block w-[45vw] px-3 py-3.5 bg-transparent border-2 border-primary-500 text-green-dark font-medium text-[3.5vw] rounded hover:shadow-lg  focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
            {{"freedemo" | translate }}
        </button>
    </div>

    <div class="h-12"></div>

    <div class="w-full px-4">
        <div class="text-custom-red text-[3.5vw] font-semibold tracking-wide">{{"tradingnews" | translate}}</div>
        <div class="h-2"></div>
        <div class="flex w-full">
            <div class="border-t border-primary-500 w-40 "></div>
            <div class="w-full border-t border-gray-400"></div>
        </div>

        <div class="h-3"></div>

        <div   *ngFor="let itmes of newss, let i = index"  routerLink="/market&alerts/news_detail/{{itmes._id}}"  class="flex w-full mb-4 cursor-pointer">
            <img class="w-4/12 h-[90px] object-cover rounded-t" [src]="imageUrl[i]">
            <div class="w-2"></div>
            <div class="w-8/12 h-20 justify-start flex flex-col mt-1">
                <div [ngClass]="{'font-ibm-plex-serif' : languageService.selectedLanguage === 'en', 'font-droid-arabic-kufi' : languageService.selectedLanguage !== 'en'  }"
                    class="font-ibm-plex-serif text-[3.3vw] font-semibold ">
   <div *ngIf="languageService.selectedLanguage == 'en'"  
  class=" font-semibold text-[1.3vw]">
  {{itmes.title_en}}
  <br>
  <div *ngIf="languageService.selectedLanguage == 'en'"  
  class=" font-semibold text-[1.3vw]">
  <!-- {{itmes.description_en}} -->
  {{(showMore) ? itmes.description_en : itmes.description_en | slice:0:200}}

</div>
</div>

 <div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" font-semibold text-[1.3vw]">
{{itmes.title_ar}}
<br>
<div *ngIf="languageService.selectedLanguage == 'ar'"  
class=" font-semibold text-[1.3vw]">
<!-- {{itmes.description_ar}} -->
{{(showMore) ? itmes.description_ar : itmes.description_ar | slice:0:200}}

</div>
</div> 

 <div  *ngIf="languageService.selectedLanguage == 'ku'"
class=" font-semibold text-[1.3vw]">
{{itmes.title_ku}}
<br>
<div    *ngIf="languageService.selectedLanguage == 'ku'"
class=" font-semibold text-[1.3vw]">
<!-- {{itmes.description_ku}} -->
{{(showMore) ? itmes.description_ku : itmes.description_ku | slice:0:200}}

</div>
</div>                </div>

                <div class="h-3"></div>

                <div class="font-ibm-plex-serif text-gray-500 flex text-[2.4vw]"> <img class="w-[2.4vw]"
                        src="../../../assets/images/time.svg">
                    <div class="w-1"></div>
                    <div>{{itmes.created_date}}</div> 
                    <br>
                    <div>{{itmes.created_time}}</div>                 </div>
            </div>
        </div>


    </div>


    <div class="h-20"></div>



</div>








<div>
    <app-footer> </app-footer>
</div>




 