<div class="bg-white flex flex-col items-center w-full">
    <div class="h-52"></div>
    <div class="tracking-wide text-green-dark font-semibold lg:text-[2vw] md:text-[2.8vw] text-[5vw]">
        {{"whychoosas" | translate}}</div>
    <div class="h-16"></div>
     
 
    <div
        class="w-[80vw]  text-center lg:flex lg:justify-center  md:grid md:grid-cols-3 md:gap-[10vw] lg:gap-[4vw] gap-[20vw]  grid grid-cols-1  ">

        <div class="flex flex-col pt-[4vh]     justify-center items-center  md:w-[20vw]">
            <img class=" selection: lg:w-[5vw]   md:w-[9vw] w-[20vw] " src="../../../assets/images/range.png">
            <div class="h-3"></div>      
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"wt1" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
                {{"w1" |
                translate}}</div>
        </div>
        <div class="flex flex-col pt-[4vh]   justify-center items-center  md:w-[20vw]">
            <img class="  lg:w-[5vw] md:w-[9vw] w-[20vw]   " src="../../../assets/images/shield2.png">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"wt2" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
                {{"w2" |
                translate}}</div>
        </div>
        <div class="flex     flex-col justify-center items-center  md:w-[20vw]">
            <img class="  lg:w-[5vw] md:w-[9vw] w-[20vw] " src="../../../assets/images/headphone.svg">
            <div class="h-5"></div>
             <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"wt3" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
                {{"w3" |
                translate}}</div>
                <div class="h-3"></div>

        </div>
        
  

    </div>

    <div
    class="w-[80vw] mt-[6vh]  text-center lg:flex lg:justify-center  md:grid md:grid-cols-3 md:gap-[10vw] lg:gap-[4vw] gap-[20vw]  grid grid-cols-1  ">
 

     <div class="flex   pt-[6vh] flex-col justify-center items-center  md:w-[20vw]">
        <img class=" lg:w-[5vw] md:w-[9vw] w-[20vw] " src="../../../assets/images/spret.png">
        <div class="h-3"></div>
        <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"wt4" |
            translate}}</div>
        <div class="h-3"></div>
        <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
            {{"w4" |
            translate}}</div>
    </div>
    <div class="flex   pb-[5vh] flex-col justify-center items-center  md:w-[20vw]">
        <img class="  lg:w-[5vw] md:w-[9vw] w-[20vw] " src="../../../assets/images/windo2.png">
        <div class="h-3"></div>
        <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"wt5" |
            translate}}</div>
        <div class="h-3"></div>
        <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
            {{"w5" |
            translate}}</div>
    </div>

    <div class="flex   flex-col justify-center items-center  md:w-[20vw]">
        
        <img class="  lg:w-[5vw] md:w-[9vw] w-[20vw] " src="../../../assets/images/city1.png">
        <div class="h-3"></div>
        <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"wt6" |
            translate}}</div>
        <div class="h-3"></div>
        <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
            {{"w6" |
            translate}}</div>
    </div>
    


</div>

   
    <div class="h-20"></div>
</div>