<div class="bg-white flex flex-col items-center w-full">
    <div class="h-20"></div>
    <div class="tracking-wide text-black font-semibold text-center  text-[5vw]">
        {{"titl" | translate}}</div>
    <div class="h-16"></div>
     
    <div
        class="w-[80vw]  text-center lg:flex lg:justify-center  md:grid md:grid-cols-3 md:gap-[10vw] lg:gap-[4vw] gap-[20vw]  grid grid-cols-1  ">

        <div class="flex flex-col pt-[4vh]     justify-center items-center  md:w-[20vw]">
            <img class=" selection:   w-[50vw] " src="../../../assets/images/livesave.jpeg">
            <div class="h-3"></div>      
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"Life-Saving Potentialheadre" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
                {{"Life-Saving Potential" |
                translate}}</div>
        </div>
        <div class="flex flex-col pt-[4vh]   justify-center items-center  md:w-[20vw]">
            <img class="    w-[50vw]   " src="../../../assets/images/visi.webp">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"Versatility of Useheadre" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
                {{"Versatility of Use" |
                translate}}</div>
        </div>
        <div class="flex     flex-col justify-center items-center  md:w-[20vw]">
            <img class="    w-[50vw] " src="../../../assets/images/emr.jpeg">
            <div class="h-5"></div>
             <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"Emergency Situationsheadre" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
                {{"Emergency Situations" |
                translate}}</div>
                <div class="h-3"></div>

        </div>
        
  

    </div>

    <div
    class="w-[80vw] mt-[2vh]  text-center lg:flex lg:justify-center  md:grid md:grid-cols-3 md:gap-[10vw] lg:gap-[4vw] gap-[20vw]  grid grid-cols-1  ">
 

     <div class="flex   pt-[6vh] flex-col justify-center items-center  md:w-[20vw]">
        <img class="  w-[50vw] " src="../../../assets/images/suport.jpeg">
        <div class="h-3"></div>
        <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"Supporting Medical Treatmentsheadre" |
            translate}}</div>
        <div class="h-3"></div>
        <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
            {{"Supporting Medical Treatments" |
            translate}}</div>
    </div>
    <div class="flex   pb-[5vh] flex-col justify-center items-center  md:w-[20vw]">
        <img class="    w-[50vw] " src="../../../assets/images/chro.jpeg">
        <div class="h-3"></div>
        <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"Chronic Medical Conditionsheadre" |
            translate}}</div>
        <div class="h-3"></div>
        <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
            {{"Chronic Medical Conditions" |
            translate}}</div>
    </div>

    <div class="flex   flex-col justify-center items-center  md:w-[20vw]">
        
        <img class="    w-[50vw] " src="../../../assets/images/com.webp">
        <div class="h-3"></div>
        <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"Community Health and Well-Beingheadre" |
            translate}}</div>
        <div class="h-3"></div>
        <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.3vw] leading-[7vw] ">
            {{"Community Health and Well-Being" |
            translate}}</div>
    </div>
    


</div>

   
    <div class="h-20"></div>
</div>