<div class="h-4 w-full bg-light-gray"></div>
<div [ngClass]="{ 'background-image' : languageService.selectedLanguage == 'en' , 'rtl-background-image' : languageService.selectedLanguage != 'en'  }"
    class="w-full background-image hidden md:flex justify-between">
    <div class="w-6/12"></div>
    <div class="w-6/12 lg:px-10 md:px-2 lg:py-10 md:py-10 ">
        <div class="lg:text-[2vw] md:text-[2.5vw] font-medium text-white tracking-wider">
            <span class="text-primary-500 font-roboto"> MT5,</span> {{"blackstallionwebtrader" | translate}}
        </div>
        <div class="h-5"></div>
        <div class="text-white opacity-80 lg:text-[1.15vw] md:text-[1.8vw] w-11/12 tracking-wider leading-7 font-light">
            {{"tradeOver1000" | translate}}

        </div>
        <div class="h-8"></div>
        

        <div class=" w-full flex items-center ">
 

            <a href="https://download.mql5.com/cdn/mobile/mt5/ios?utm_source=www.metatrader5.com&utm_campaign=install.metaquotes">
                <img class="h-[35px] cursor-pointer" src="../../../../assets/images/app-store.png">
            </a>
              <div class="w-3"></div> 
              <a href="https://download.mql5.com/cdn/mobile/mt5/android?hl=en&utm_source=www.metatrader5.com&utm_campaign=install.metaquotes">
                <img class="h-[40px] cursor-pointer" src="../../../../assets/images/google-play.png">
              </a>
             <div class="w-3"></div>
            <a href="https://download.mql5.com/cdn/web/black.stallion.company/mt5/blackstallioncoltd5setup.exe">
                <img class="h-[40px] cursor-pointer" src="../../../../assets/images/meta-trader.svg">
          
            </a>
         </div>

        <div class="h-5"></div>
        <button type="button" (click)="homeService.onTradingShowModal()"
            class="inline-block lg:text-[1.3vw] md:text-[1.5vw] py-2 px-[4vw] bg-primary-500 border-2 border-primary-500 text-white font-medium rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-gray-300  transition duration-150 ease-in-out">
            {{"starttrading" | translate}}
        </button>
    </div>

</div>






<!-- sm -->
<div class="w-full md:hidden flex flex-col justify-center items-center ">
    <div class="h-5"></div>
    <img class="w-9/12 mx-auto" src="../../../assets/images/web-trader-image-mobile.svg">
    <div class="h-5"></div>
    <div class="text-[6vw] w-10/12 font-roboto mx-auto text-center font-medium text-green-dark tracking-wider">
        <span class="text-primary-500"> Mt5,</span> Black Stallion web trader
    </div>
    <div class="h-5"></div>
    <div class="text-gray-900 text-center text-[4vw] opacity-80 w-10/12">
        {{"tradeOver1000" | translate}}
    </div>
    <div class="h-16"></div>
    <!-- <div class="w-full flex justify-center">
        <img src="../../../assets/icons/windows-black.svg">
        <div class="w-2"></div>
        <img src="../../../assets/icons/android-black.svg">
        <div class="w-2"></div>
        <img src="../../../assets/icons/apple-black.svg">
    </div>
    <div class="h-5"></div>
    <div class=" w-full flex flex-col items-center">

        <button type="button"
            class="inline-block w-[60vw] text-[4vw] py-3 bg-transparent border-2 border-primary-500 text-primary-500 font-medium rounded  focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
            {{"freedemo" | translate}}
        </button>

        <div class="h-4"></div>

        <button type="button"
            class="inline-block w-[60vw] text-[4vw] py-3 bg-primary-500 border-2 border-primary-500 text-white font-medium rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-gray-300  transition duration-150 ease-in-out">
            {{"starttrading" | translate}}
        </button>
    </div> -->

    <div class=" w-full flex flex-col items-center">

        <div class="flex">
            <img class="w-[6vw] cursor-pointer" src="../../../../assets/images/app-store.png">
            <div class="w-3"></div>
            <img class="w-[6vw] cursor-pointer" src="../../../../assets/images/google-play.png">
            <div class="w-3"></div>
            <img class="w-[6vw] cursor-pointer" src="../../../../assets/images/meta-trader.svg">
        </div>

        <div class="h-7"></div>
        <button type="button" (click)="homeService.onTradingShowModal()"
            class="inline-block w-[60vw] text-[4vw] py-3 bg-primary-500 border-2 border-primary-500 text-white font-medium rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-gray-300  transition duration-150 ease-in-out">
            {{"starttrading" | translate}}
        </button>
    </div>


    <div class="h-10"></div>
</div>