<div >
    <app-navbar></app-navbar>
</div>

 
<div  #topnews id="topnews" class="lg:h-24 bg-white md:h-20 h-16"></div>


 




<div    class="hidden md:block w-full" style="background-color: #F8F8F8;">
    <div class="h-14"></div>


    <div class="lg:px-24 md:px-16 tracking-wide text-[3vw] text-green-dark font-medium latest-news">
        {{"tradingnews" | translate}}
    </div>

    <div class="h-5"></div>

    <div class="lg:px-24 md:px-16 text-gray-900 text-[1.2vw] font-medium">
        {{"newsqoute" | translate}}
    </div>

    <div class="w-[33vw] mx-[7vw] mt-[10vh]  h-[5vh]">
             <!-- <select   class="border-[0.001vw] text-center bg-green-dark border-red-950  text-[1.5vw] focus:outline-none mt-[14px] w-full  text-white text-sm rounded-lg block py-[1.3vh] px-[0.5vw]" >
                <option  *ngFor="let item of timezony"     value="{{idtimezone}}">{{item.name + item.timeZone}}</option>
             </select> -->


             <div  (click)="onshow()" 
              class="border-[0.001vw] text-center bg-green-dark border-red-950  text-[1.5vw] focus:outline-none mt-[14px] w-full  text-white text-sm rounded-lg block py-[1.3vh] px-[0.5vw]">
               {{"zontime" | translate}}

                <div  *ngIf="showdropdown"  class="border-[0.001vw] overflow-scroll h-[35vh] absolute z-50 border-green-dark text-center bg-white border-red-950  text-[1.5vw] focus:outline-none  w-[33vw]  text-black text-sm rounded-lg block py-[1.3vh] px-[0.5vw]">
                <div class="my-[1vh] border-b border-gray-400 py-[1vh] hover:bg-green-400 " *ngFor="let item of timezony" (click)="onchangetimezon(item._id)">{{item.name + item.timeZone}}</div>
                </div>
            </div>

             
     </div>
    <div class="h-10"></div>

    <div class="flex w-full lg:px-20 md:px-16  pb-[10vh]">

        <div class="w-8/12  mx-[2vw] ">
            <div class="my-[2vh]" >
 
                <div class=" bg-light-gray pt-[3vh]  flex justify-center items-center">

                    <div (click)="onAll(idtimezone)" class="py-[1vh] text-white hover:text-black mx-[0.5vw] bg-primary-300 hover:bg-gray-200 hover:border hover:border-gray-300 rounded-md w-[10vw] text-center text-[1vw] font-sans"> 
                      All
                    </div>
                 
                     <div  *ngFor="let item of catogory "  (click)="onChangeCatagory(item._id)"  class="py-[1vh] text-white hover:text-black mx-[0.5vw] bg-primary-300 hover:bg-gray-200 hover:border hover:border-gray-300 rounded-md w-[10vw] text-center text-[1vw] font-sans"> 
                         {{item.name_en}}
                      </div>
                     
                      
                     
                  </div>
                       </div>
        <div class="grid grid-cols-2 gap-x-7 gap-y-16" >
            <div *ngFor="let itmes of newss, let i = index"  routerLink="{{itmes._id}}" class="flex flex-col"  [ngClass]="{'font-ibm-plex-serif': languageService.selectedLanguage == 'en', 'font-droid-arabic-kufi' : languageService.selectedLanguage != 'en' }">
                <img class="w-full object-cover rounded-t"  [src]="imageUrl[i]">
                <div class="h-3"></div>
                <!-- english -->
                <div *ngIf="languageService.selectedLanguage == 'en'"  
                    class=" font-sans text-[1.3vw]">
                    {{itmes.title_en}}
                    <br>
                    <div *ngIf="languageService.selectedLanguage == 'en'"  
                    class=" font-medium  text-[1.3vw] leading-[2vw]">
                    <!-- {{itmes.description_en}} -->
                    {{(showMore) ?  itmes.description_en : itmes.description_en | slice:0:200}}

                </div>
                </div>
                
                <!-- arabic -->
                <div *ngIf="languageService.selectedLanguage == 'ar'"  
                class=" font-sans text-[1.3vw]">
                {{itmes.title_ar}}
                <br>
                <div *ngIf="languageService.selectedLanguage == 'ar'"  
                class=" font-medium  text-[1.3vw] leading-[2vw]">
                <!-- {{itmes.description_ar}} -->
                {{(showMore) ?  itmes.description_ar : itmes.description_ar | slice:0:200}}

            </div>
            </div> 
            
            <!-- kurdish -->
            <div  *ngIf="languageService.selectedLanguage == 'ku'"
            class=" font-sans text-[1.3vw]">
            {{itmes.title_ku}}
            <br>
            <div    *ngIf="languageService.selectedLanguage == 'ku'"
            class=" font-medium   text-[1.3vw] leading-[2vw]">
            <!-- {{itmes.description_ku}} -->
            {{(showMore) ?  itmes.description_ku : itmes.description_ku | slice:0:200}}

        </div>
              </div>

              <div     class="w-full px-5 flex justify-end">
                <span class="text-[0.9vw] font-medium border border-primary-500 rounded px-5 py-2">
                    {{"seemore" | translate}}
                </span>
            </div>

                <div class="h-5"></div>

                <div class="font-ibm-plex-serif text-gray-500 flex text-[0.9vw]"> <img class="w-[1vw]"
                        src="../../../assets/images/time.svg">
                    <div class="w-1"></div>
                    <div>{{itmes.created_date}}</div> 
                    <br>
                    <div>{{itmes.created_time}}</div> 

                </div>

            </div>




        </div>
</div>
   


        <!-- <div class="lg:w-[3vw] md:w-[4vw]"></div> -->


        <div class="w-4/12 ">
            <div class="text-custom-red text-[1.1vw] font-semibold tracking-wide">{{"tradingnews" | translate}}</div>
            <div class="h-2"></div>
            <div class="flex w-full">
                <div class="border-t border-primary-500 w-40 "></div>
                <div class="w-full border-t border-gray-400"></div>
            </div>

            <div class="h-3"></div>
 
            <div routerLink="{{itmes._id}}"   *ngFor="let itmes of newss, let i = index"    class="flex w-full mb-4 cursor-pointer">
                <img class="lg:w-[10vw] md:w-[12vw] lg:h-[7vw] md:h-[8vw] object-cover rounded-t"
                [src]="imageUrl[i]">
                <div class="w-2"></div>
                <div class="w-9/12 h-20 justify-between flex flex-col">
                    <div [ngClass]="{'font-ibm-plex-serif': languageService.selectedLanguage == 'en', 'font-droid-arabic-kufi' : languageService.selectedLanguage != 'en' }"
                        class=" text-[0.96vw] font-semibold ">
                          <!-- english -->
                <div *ngIf="languageService.selectedLanguage == 'en'"  
                class="  text-[1.3vw]">
                {{itmes.title_en}}
                <br>
                
            </div>
            
            <!-- arabic -->
            <div *ngIf="languageService.selectedLanguage == 'ar'"  
            class="  text-[1.3vw]">
            {{itmes.title_ar}}
            <br>
         
        </div> 
        
        <!-- kurdish -->
        <div   *ngIf="languageService.selectedLanguage == 'ku'"
        class="  text-[1.3vw]">
        {{itmes.title_ku}}
        <br>
       
          </div>

                    <div class="h-1"></div>

                    <div class="font-ibm-plex-serif text-gray-500 flex text-[0.76vw]"> <img class="w-[0.8vw]"
                            src="../../../assets/images/time.svg">
                        <div class="w-1"></div>
                        <div>{{itmes.created_date}}</div> 
                        <br>
                        <div>{{itmes.created_time}}</div> 
                        </div>
                </div>
            </div>


        </div>
    </div>


    <div class="h-20"></div>

    <div class="h-32"></div>

</div>

<div class="md:hidden block w-full" style="background-color: #F8F8F8;">
    <div class="h-12"></div>

    <div class="px-4 tracking-wide text-[3.5vw] text-custom-red font-medium latest-news">{{"tradingnews" |
        translate}}
    </div>

    <div class="h-5"></div>

    <div class="px-4 text-gray-900 text-[3.2vw] font-medium">
        {{"newsqoute" | translate}}
    </div>

    <div class="h-10"></div>



    <div class="w-full px-4">
        <div *ngFor="let itmes of newss, let i = index" routerLink="{{itmes._id}}"  class="flex flex-col mb-6">
            <img class="w-full object-cover rounded-t" [src]="imageUrl[i]">
            <div class="h-3"></div>
            <div [ngClass]="{'font-ibm-plex-serif' : languageService.selectedLanguage === 'en', 'font-droid-arabic-kufi' : languageService.selectedLanguage !== 'en'  }"
                class=" font-semibold text-[4vw]">
           <!-- english -->
           <div *ngIf="languageService.selectedLanguage == 'en'"  
           class=" font-semibold text-[1.3vw]">
           {{itmes.title_en}}
           <br>
           <div *ngIf="languageService.selectedLanguage == 'en'"  
           class=" font-semibold text-[1.3vw]">
           <!-- {{itmes.description_en}} -->
           {{(showMore) ?  itmes.description_en : itmes.description_en | slice:0:200}}

       </div>
       </div>
       
       <!-- arabic -->
       <div *ngIf="languageService.selectedLanguage == 'ar'"  
       class=" font-semibold text-[1.3vw]">
       {{itmes.title_ar}}
       <br>
       <div *ngIf="languageService.selectedLanguage == 'ar'"  
       class=" font-semibold text-[1.3vw]">
       <!-- {{itmes.description_ar}} -->
       {{(showMore) ?itmes.description_ar : itmes.description_ar | slice:0:200}}

   </div>
   </div> 
   
   <!-- kurdish -->
   <div   *ngIf="languageService.selectedLanguage == 'ku'"
   class=" font-semibold text-[1.3vw]">
   {{itmes.title_ku}}
   <br>
   <div     *ngIf="languageService.selectedLanguage == 'ku'"
   class=" font-semibold text-[1.3vw]">
   <!-- {{itmes.description_ku}} -->
   {{(showMore) ?  itmes.description_ku : itmes.description_ku | slice:0:200}}

</div>
     </div>            </div>

            <div class="h-5"></div>

            <div class="font-ibm-plex-serif text-gray-500 flex text-[3vw]"> <img class="w-[3vw]"
                    src="../../../assets/images/time.svg">
                <div class="w-1"></div>
                <div>{{itmes.created_date}}</div> 
                <br>
                <div>{{itmes.created_time}}</div>           
              </div>
        </div>




    </div>


    <div class="h-10"></div>

    <div class="w-full flex justify-center">
        <button type="button"
            class="inline-block w-[45vw] px-3 py-3.5 bg-transparent border-2 border-primary-500 text-green-dark font-medium text-[3.5vw] rounded hover:shadow-lg  focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
            {{"freedemo" | translate }}
        </button>
    </div>

    <div class="h-12"></div>

    <div class="w-full px-4">
        <div class="text-custom-red text-[3vw] font-semibold tracking-wide">{{"tradingnews" | translate}}</div>
        <div class="h-2"></div>
        <div class="flex w-full">
            <div class="border-t border-primary-500 w-40 "></div>
            <div class="w-full border-t border-gray-400"></div>
        </div>

        <div class="h-3"></div>

        


    </div>


    <div class="h-20"></div>



</div>

<div>
    <app-footer> </app-footer>
</div>




 