<div class=" block md:hidden ">
  <div class="absolute z-0">
    <swiper dir="rtl" id="landing-section" [centeredSlides]="true" [spaceBetween]="0" [slidesPerView]="'auto'"
      [loop]="true" [loopFillGroupWithBlank]="true" [centeredSlides]="true"
      [autoplay]="{delay: 4000,  disableOnInteraction: false}" [speed]="1000" [navigation]="false" class="w-full">
      <ng-template swiperSlide>
        <img class="object-cover   opacity-70 h-[93vh]   w-full" src="../../../../assets/images/bb.jpeg" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img class="object-cover   opacity-70 h-[93vh]   w-full" src="../../../../assets/images/b4.jpeg" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img class="object-cover   opacity-70 h-[93vh]    w-full" src="../../../../assets/images/b.jpeg" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img class="object-cover  opacity-70 h-[93vh]   w-full" src="../../../../assets/images/b1.avif" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img class="object-cover  opacity-70 h-[93vh]   w-full" src="../../../../assets/images/b2.avif" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img class="object-cover   opacity-70 h-[93vh]   w-full" src="../../../../assets/images/b8.jpeg" alt="">
      </ng-template>
      <ng-template swiperSlide>
        <img class="object-cover   opacity-70 h-[93vh]   w-full" src="../../../../assets/images/bh.jpeg" alt="">
      </ng-template>
    </swiper>
  </div>
  <div class=" relative z-10 w-full flex justify-center  items-center">
    <div class=" w-10/12 flex flex-col justify-center items-center">
 
      <div *ngIf="languageService.selectedLanguage == 'en'"
        class=" font-bold text-[8vw]  w-[70vw]  text-center text-white leading-[12vw] ">
       Red Hope <br><span class="text-red-700"> To preserve a life  </span> , giving some blood is important.
      </div>
      <div *ngIf="languageService.selectedLanguage == 'ar'"
        class=" font-bold text-[7vw]  w-[70vw]   text-center text-white leading-[10vw]">
        ، التبرع ببعض الدم أمر مهم. <span class="text-red-700">للحفاظ على الحياة  </span> Red Hope
      </div>
      <div *ngIf="languageService.selectedLanguage == 'ku'"
        class=" font-bold text-[7vw]  w-[63vw]  text-center text-white leading-[10vw]">
        بۆ پاراستنی ژیانێک   <span class="text-red-700">  , پێدانی هەندێک خوێن گرنگە. </span>   Red Hope
      </div>

      <div
        [ngClass]="{ 'h-[6vw]': languageService.selectedLanguage == 'en' || languageService.selectedLanguage == 'ku', 'h-[5vw]': languageService.selectedLanguage == 'ar'  }"
        class=" "></div>
      <div class="w-full  opacity-95 text-gray-700 text-center text-[4vw] font-bold ">
        {{"qoute" | translate}}
      </div>

      <div class="h-16 w-full "></div>
      <div  class=" w-full flex flex-col justify-center items-center">
        <button  *ngIf="loginService.token != '' "   (click)="logins()"
          class="block w-[60vw] py-3 bg-red-700 border-2 border-red-700 text-white font-medium text-[4vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-red-700  transition duration-150 ease-in-out">
          {{"realaccount" | translate}}
        </button>

        <div  *ngIf="loginService.token != '' " class="h-4"></div>
        <div  *ngIf="loginService.token == '' " class="h-10">
          <button  *ngIf="loginService.token == '' "   (click)="addnews()"
              class="inline-block w-[60vw] py-3 bg-red-700 border-2 border-red-700 text-red-700 font-medium text-[4vw] rounded hover:shadow-lg  focus:outline-none focus:ring-0 active:bg-red-700  transition duration-150 ease-in-out">
           <div class="text-[4vw] text-center text-white">{{'news'|translate}}  +</div>
        </button>

           </div>
        <div  *ngIf="loginService.token == '' " class="h-10"></div>
        <div  *ngIf="loginService.token == '' " class="h-10"></div>

        <button   *ngIf="loginService.token != '' "  (click)="signup()"
          class="inline-block w-[60vw] py-3 bg-transparent border-2 border-red-700 text-red-700 font-medium text-[4vw] rounded hover:shadow-lg  focus:outline-none focus:ring-0 active:bg-red-700  transition duration-150 ease-in-out">
          {{"freedemo" | translate}}
        </button>
      </div>
    </div>
  </div>

 
  <div id="landing-page-sm" class="  mt-[3vh]  w-full card-shadow">
    <swiper dir="rtl" class="w-full shadow-xl"  [autoplay]="{delay: 4000,  disableOnInteraction: false}" [speed]="1000"  style="background-color: #E6ECEF;" [spaceBetween]="10"
      [slidesPerView]="1" [loop]="true" [loopFillGroupWithBlank]="true" [pagination]="false" [navigation]="false"
      class="w-full">
      <ng-template *ngFor="let item of items; index as i;" swiperSlide>
        <div [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl' " class="flex justify-center px-10">
          <span class="text-[4vw] text-red-600 font-medium">
            News  </span>
          <div
            class="flex w-full  items-center justify-center bg-green-gray text-green-dark rounded-lg py-7 lg-padding-card">     
            <div class="flex flex-col items-center">
              <div class="   ">
                <div class="font-medium text-[3vw] text-black font-bold font-roboto">Sima:</div>
                <div class="font-medium text-[3vw] text-gray-500 font-roboto">I have some Problem And I'm need A+ type of Blood who can help me??  </div>
              </div>
              <div class="h-4"></div>
              <div class="flex justify-between items-center">
                <span class="text-[3.5vw] font-medium">
                  Sulaymanyah/goizha                 </span>
                <span class="w-[3vw]"></span>
                <span class="text-[3.5vw] font-medium text-red-700">
                                   07703597983
                </span>
                <span class="w-[3vw]"></span>
                <span class="text-[3.5vw] font-medium border-2 border-gray-700 rounded px-4 py-[0.1vh]">
                  {{"trade" | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </swiper>


  </div>
  <div class="h-5 bg-transparent w-full"></div>

</div>
  
  <div *ngIf=" this.loginService.login==true">
  
    <div
      class=" overflow-hidden bg-opacity-40 py-5 h-screen bg-gray-700 transition duration-150 ease-in-out z-40 fixed top-0 right-0 bottom-0 left-0"
      id="modal">
      <div class="w-full flex justify-end  mb-[1vh] ">
  
              <div (click)="logins()"
                  class="bg-white cursor-pointer fixed right-10  rounded-full flex justify-center items-center w-5 h-5">
                  <img src="../../../assets/icons/clo.webp">
              </div>
          </div>
      <div role="alert" class="scale-90 opacity-100 py-20 lg:w-6/12 md:w-8/12 w-full bg-white  mt-[4vh] rounded-lg mx-auto ">
  
        <div class=" w-full flex flex-col justify-center items-center">
          <div class="lg:text-[2.1vw] md:text-[2.4vw]  text-[5vw] font-medium text-green-dark">
            {{"verifyemail" | translate}}
          </div>
          <div class="h-8"></div>
          <div class="lg:text-[1.2vw] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
            {{"wesentanemailforyouraccount,pleaseverifytoregister." | translate }}
          </div>
           <div class="w-full flex flex-col items-center justify-center">
            <!-- [formGroup]="demoAccountForm"  (ngSubmit)="onSubmitDemoAccount()"  -->
            <form  
            
             class="w-full">
              <div class="h-10"></div>
  
              <!-- name -->
              <div class="w-full px-[3vw] flex md:flex-row flex-col">
                  <div class="mb-4 md:w-6/12 w-full">
                      <label class="block text-gray-700 text-sm mb-2" for="fistname">
                          {{"phonenumber" | translate}}
                      </label>
                      <input formControlName="firstName"
                          class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            type="text">
                      <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                      <!-- </div> -->
                  </div>
  
                  <div class="md:w-12 w-0 h-4 md:h-0"></div>
  
                  <div class="mb-4 md:w-6/12 w-full">
                      <label class="block text-gray-700 text-sm mb-2" for="lastName">
                          {{"password" | translate}}
                      </label>
                      <input formControlName="lastName"
                          class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="text">
                      <!-- <div *ngIf=" lastNameError != '' " class="text-sm text-red-600 mx-3 mt-1">{{lastNameError}}
                      </div> -->
                  </div>
              </div>
  
              <div class="flex justify-center items-center">
                <button (click)="onLogout()" type="submit"
                class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
                {{ "login" | translate}}
              </button>
              </div>
              
          </form>

          </div>
  
  
        </div>
  
      </div>
    </div>
  
  </div>
  

  <div *ngIf=" this.loginService.signin==true">
  
    <div
      class=" overflow-y-auto bg-opacity-40 py-5 h-screen  bg-gray-700 transition duration-150 ease-in-out z-40 fixed top-0 right-0 bottom-0 left-0"
      id="modal">
      <div class="w-full flex justify-end  mb-[1vh] ">
  
              <div (click)="signup()"
                  class="bg-white cursor-pointer fixed right-10  rounded-full flex justify-center items-center w-5 h-5">
                  <img src="../../../assets/icons/clo.webp">
              </div>
          </div>
      <div role="alert" class="scale-90 opacity-100 py-20 lg:w-6/12 md:w-8/12 w-full bg-white  mt-[4vh] rounded-lg mx-auto ">
  
        <div class=" w-full flex flex-col justify-center items-center">
          <div class="lg:text-[2.1vw] md:text-[2.4vw]  text-[5vw] font-medium text-green-dark">
            {{"partners" | translate}}
          </div>
          <div class="h-8"></div>
          <div class="lg:text-[1.2vw] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
            {{"wesentanemailforyouraccount,pleaseverifytoregister." | translate }}
          </div>
           <div class="w-full flex flex-col items-center justify-center">
            <!-- [formGroup]="demoAccountForm"  (ngSubmit)="onSubmitDemoAccount()"  -->
            <form  
            
             class="w-full">
              <div class="h-10"></div>
               
              <!-- name -->
              <div class="w-full px-[3vw] flex md:flex-row flex-col">


                <div class="mb-4 md:w-6/12 w-full">
                  <label class="block text-gray-700 text-sm mb-2" for="fistname">
                      {{"username" | translate}}
                  </label>
                  <input formControlName="firstName"
                      class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text">
                  <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                  <!-- </div> -->
                </div>

              <div class="mb-4 md:w-6/12 w-full">
                <label class="block text-gray-700 text-sm mb-2" for="fistname">
                    {{"email" | translate}}
                </label>
                <input formControlName="firstName"
                    class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      type="text">
                <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                <!-- </div> -->
              </div>


                  <div class="mb-4 md:w-6/12 w-full">
                      <label class="block text-gray-700 text-sm mb-2" for="fistname">
                          {{"phonenumber" | translate}}
                      </label>
                      <input formControlName="firstName"
                          class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            type="text">
                      <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                      <!-- </div> -->
                  </div>

                  <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"location" | translate}}
                    </label>
                    <input formControlName="firstName"
                        class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          type="text">
                    <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                    <!-- </div> -->
                  </div>


                  <div class="mb-4">
                    <label for="countries" class="block text-gray-700 text-sm mb-2">
                        {{"countryofresidence" | translate }}
                    </label>
                    <div class="relative">
                        <select id="countries" formControlName="country"
                            class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            <option class="font-roboto" *ngFor="let country of typeblood "
                                [value]="country.value">
                                {{country.value}}
                            </option>
                        </select>
                        <div *ngIf="languageService.selectedLanguage == 'en'"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                        </div>
                        <div *ngIf="!(languageService.selectedLanguage == 'en')"
                            class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                            <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                        </div>
                    </div>
                     
    
                  </div>

                  <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"gender" | translate}}
                    </label>
                   
                    <div class="flex justify-start items-center">

                      <button (click)="male()" class=" mx-[2vw] flex justify-between items-center">
                          <div *ngIf="gender=='Male'" class=" w-[5vw] h-3 rounded-[5vw] bg-red-700 "></div>
                          <div *ngIf="gender=='FeMale'" class=" w-[5vw] h-3 rounded-[5vw] bg-white border border-red-700 "></div>

                          <div class=" mx-[1vw] text-[4vw] text-black  ">Male</div>
                      </button>
                      <button (click)="female()" class=" flex justify-between items-center">
                        <div *ngIf="gender=='FeMale'" class=" w-[5vw] h-3 rounded-[5vw] bg-red-700 "></div>
                        <div *ngIf="gender=='Male'" class=" w-[5vw] h-3 rounded-[5vw] bg-white border border-red-700 "></div>
                      <div class="  mx-[1vw] text-[4vw] text-black  ">Female</div>
                    </button>


                    </div>
                  </div>

                  <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"Sugary" | translate}}
                    </label>
                   
                    <div class="flex flex-col justify-start items-start">

                      <button (click)="yesSuger()" class=" mx-[2vw] flex justify-between items-center">
                          <div *ngIf="Suger=='Yes'" class=" w-[5vw] h-3 rounded-[5vw] bg-red-700 "></div>
                          <div *ngIf="Suger=='No'" class=" w-[5vw] h-3 rounded-[5vw] bg-white border border-red-700 "></div>

                          <div class=" mx-[1vw] text-[4vw] text-black  ">Yes</div>
                      </button>
                      <button (click)="NoSuger()" class=" mx-[2vw] flex justify-between items-center">
                        <div *ngIf="Suger=='No'" class=" w-[5vw] h-3 rounded-[5vw] bg-red-700 "></div>
                        <div *ngIf="Suger=='Yes'" class=" w-[5vw] h-3 rounded-[5vw] bg-white border border-red-700 "></div>
                      <div class="  mx-[1vw] text-[4vw] text-black  ">No</div>
                    </button>


                    </div>
                  </div>

                  <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"smok" | translate}}
                    </label>
                   
                    <div class="flex flex-col justify-start items-start">

                      <button (click)="yessmok()" class=" mx-[2vw] flex justify-between items-center">
                          <div *ngIf="smok=='Yes'" class=" w-[5vw] h-3 rounded-[5vw] bg-red-700 "></div>
                          <div *ngIf="smok=='No'" class=" w-[5vw] h-3 rounded-[5vw] bg-white border border-red-700 "></div>

                          <div class=" mx-[1vw] text-[4vw] text-black  ">Yes</div>
                      </button>
                      <button (click)="Nosmok()" class=" mx-[2vw] flex justify-between items-center">
                        <div *ngIf="smok=='No'" class=" w-[5vw] h-3 rounded-[5vw] bg-red-700 "></div>
                        <div *ngIf="smok=='Yes'" class=" w-[5vw] h-3 rounded-[5vw] bg-white border border-red-700 "></div>
                      <div class="  mx-[1vw] text-[4vw] text-black  ">No</div>
                    </button>


                    </div>
                  </div>

  
   
                  <div class="w-full flex md:flex-row flex-col ">
                    <div class="mb-6 md:w-6/12 w-full">
                        <label class="block text-gray-700 text-sm mb-2" for="password">
                            <span class="text-custom-red">*</span> {{"password" | translate}}
                        </label>
                        <div class="relative">
                            <input formControlName="password"
                                class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="password" [type]="showPassword ? 'text' : 'password'">
                            <div *ngIf="languageService.selectedLanguage == 'en'" (click)="onShowPassword()"
                                class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                                <img class="w-5 cursor-pointer"
                                    src="../../../assets/icons/{{showPassword ? 'hide' : 'show' }}.svg">
                            </div>
                            <div *ngIf="languageService.selectedLanguage != 'en'" (click)="onShowPassword()"
                                class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                                <img class="w-5 cursor-pointer"
                                    src="../../../assets/icons/{{showPassword ? 'hide' : 'show' }}.svg">
                            </div>
                        </div>
                       
                    </div>
    
     
                    <div class="mb-6 md:w-6/12 w-ull">
                        <label class="block text-gray-700 text-sm mb-2" for="confirem">
                            <span class="text-custom-red">*</span> {{"confirempassword" | translate}}
                        </label>
                        <div class="relative">
                            <input formControlName="confiremPassword"
                                class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                id="confirem" [type]="showConfiremPassword ? 'text' : 'password'">
                            <div *ngIf="languageService.selectedLanguage == 'en'" (click)="onShowConfiremPassword()"
                                class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                                <img class="w-5 cursor-pointer"
                                    src="../../../assets/icons/{{showConfiremPassword ? 'hide' : 'show'}}.svg">
                            </div>
                            <div *ngIf="languageService.selectedLanguage != 'en'" (click)="onShowConfiremPassword()"
                                class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                                <img class="w-5 cursor-pointer"
                                    src="../../../assets/icons/{{showConfiremPassword ? 'hide' : 'show'}}.svg">
                            </div>
    
                        </div>
                        
                    </div>
                  </div>
              </div>
  
              <div class="flex justify-center items-center">
                <button (click)="onLogout()" type="submit"
                class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
                {{ "freedemo" | translate}}
              </button>
              </div>
              
          </form>

          </div>
  
  
        </div>
  
      </div>
    </div>
  
  </div>


  <div *ngIf=" this.loginService.news==true">
  
    <div
      class=" overflow-y-auto bg-opacity-40 py-5 h-screen  bg-gray-700 transition duration-150 ease-in-out z-40 fixed top-0 right-0 bottom-0 left-0"
      id="modal">
      <div class="w-full flex justify-end  mb-[1vh] ">
  
              <div (click)="news()"
                  class="bg-white cursor-pointer fixed right-10  rounded-full flex justify-center items-center w-5 h-5">
                  <img src="../../../assets/icons/clo.webp">
              </div>
          </div>
      <div role="alert" class="scale-90 opacity-100 py-20 lg:w-6/12 md:w-8/12 w-full bg-white  mt-[4vh] rounded-lg mx-auto ">
  
        <div class=" w-full flex flex-col justify-center items-center">
          <div class="lg:text-[2.1vw] md:text-[2.4vw]  text-[5vw] font-medium text-green-dark">
            {{"addnews" | translate}}
          </div>
          <div class="h-8"></div>

          <div class="lg:text-[1.2vw] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
            {{"wesentanemailforyouraccount,pleaseverifytoregister." | translate }}
          </div>
           <div class="w-full flex flex-col items-center justify-center">
            <!-- [formGroup]="demoAccountForm"  (ngSubmit)="onSubmitDemoAccount()"  -->
            <form  
            
             class="w-full">
              <div class="h-10"></div>
               
              <!-- name -->
              <div class="w-full px-[3vw] flex md:flex-row flex-col">

                <div class="mb-4 md:w-6/12 w-full">
                  <label class="block text-gray-700 text-sm mb-2" for="fistname">
                      {{"subject" | translate}}
                  </label>
                  <input formControlName="firstName"
                      class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text">
                  <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                  <!-- </div> -->
                </div>
  
                <div class="mb-4 md:w-6/12 w-full">
                  <label class="block text-gray-700 text-sm mb-2" for="fistname">
                      {{"phonenumber" | translate}}
                  </label>
                  <input formControlName="firstName"
                      class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        type="text">
                  <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                  <!-- </div> -->
                </div>
                <div class="mb-4">
                  <label for="countries" class="block text-gray-700 text-sm mb-2">
                      {{"countryofresidence" | translate }}
                  </label>
                  <div class="relative">
                      <select id="countries" formControlName="country"
                          class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                          <option class="font-roboto" *ngFor="let country of typeblood "
                              [value]="country.value">
                              {{country.value}}
                          </option>
                      </select>
                      <div *ngIf="languageService.selectedLanguage == 'en'"
                          class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                          <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                      </div>
                      <div *ngIf="!(languageService.selectedLanguage == 'en')"
                          class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                          <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                      </div>
                  </div>
                   
  
                </div>

                  <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"location" | translate}}
                    </label>
                    <input formControlName="firstName"
                        class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          type="text">
                    <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
                    <!-- </div> -->
                  </div>

                  <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"note" | translate}}
                    </label>
                    <textarea formControlName="firstName"
                        class=" appearance-none border rounded w-full h-[15vh] py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          type="text">
                    </textarea>
                   
                  </div>
    
              </div>
  
              <div class="flex justify-center items-center">
                <button (click)="onLogout()" type="submit"
                class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
                {{ "add" | translate}}
              </button>
              </div>
              
          </form>

          </div>
  
  
        </div>
  
      </div>
    </div>
  
  </div>


  <div *ngIf=" this.loginService.folder==true">
  
    <div
      class=" overflow-y-auto bg-opacity-40 py-5 h-screen  bg-gray-700 transition duration-150 ease-in-out z-40 fixed top-0 right-0 bottom-0 left-0"
      id="modal">
      <div class="w-full flex justify-end  mb-[1vh] ">
  
              <div (click)="fol()"
                  class="bg-white cursor-pointer fixed right-10  rounded-full flex justify-center items-center w-5 h-5">
                  <img src="../../../assets/icons/clo.webp">
              </div>
          </div>
      <div role="alert" class="scale-90 opacity-100 py-2 lg:w-6/12 md:w-8/12 w-full bg-white  mt-[3vh] rounded-lg mx-auto ">
  
        <div class=" w-full flex flex-col justify-center items-center">
          <div class="lg:text-[2.1vw] md:text-[2.4vw]  text-[5vw] font-medium text-green-dark">
            {{"newnotifi" | translate}}
          </div>
          <div class="h-8"></div>
          <div class="lg:text-[1.2vw] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
            {{"someone" | translate }}
          </div>

 <div *ngFor="let item of noti" class=" py-[1vw] px-[2vw]  my-[1vh] bg-gray-300 border border-gray-700 rounded-[3vw]">


  <div class=" text-[3vw]  flex justify-between text-black font-bold text-center   ">
   {{'countryofresidence'|translate}} :  <div class=" text-[3vw] text-red-700"> A+</div>
   <div class="mx-[1vw] flex justify-end  mb-[1vh] ">
  
    <div (click)="notific()"
        class="bg-white cursor-pointer    rounded-full flex justify-center items-center w-5 h-5">
        <img src="../../../assets/icons/clo.webp">
    </div>
</div>
  </div>
  <div class="lg:text-[1.2vw] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
     Note:    i have a some problem 
  </div>
  <div class="lg:text-[1.2vw] mb-[1vh] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
     goizha/suli/Iraq , 0770 3597983
   </div>


   <div   class="flex justify-center items-center">
    <button (click)="ohelp()" type="submit"
    class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
    {{ "thanks And Call " | translate}}
  </button>
  <!-- <div *ngIf="help==true"  class="flex justify-center items-center">
    <button (click)="ohelp()" type="submit"
    class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
    {{ "close" | translate}}
  </button> -->
  </div>
    
 </div>
  
  
        </div>
  
      </div>
    </div>
  
  </div>


  <div *ngIf=" this.loginService.notifi==true">
  
    <div
      class=" overflow-y-auto bg-opacity-40 py-5 h-screen  bg-gray-700 transition duration-150 ease-in-out z-40 fixed top-0 right-0 bottom-0 left-0"
      id="modal">
      <div class="w-full flex justify-end  mb-[1vh] ">
  
              <div (click)="notific()"
                  class="bg-white cursor-pointer fixed right-10  rounded-full flex justify-center items-center w-5 h-5">
                  <img src="../../../assets/icons/clo.webp">
              </div>
          </div>
      <div role="alert" class="scale-90 opacity-100 py-2 lg:w-6/12 md:w-8/12 w-full bg-white  mt-[3vh] rounded-lg mx-auto ">
  
        <div class=" w-full flex flex-col justify-center items-center">
          <div class="lg:text-[2.1vw] md:text-[2.4vw]  text-[5vw] font-medium text-green-dark">
            {{"newnotifi" | translate}}
          </div>
          <div class="h-8"></div>
          <div class="lg:text-[1.2vw] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
            {{"someone" | translate }}
          </div>

 <div *ngFor="let item of noti" class=" py-[1vw] px-[2vw]  my-[1vh] bg-gray-300 border border-gray-700 rounded-[3vw]">


  <div class=" text-[3vw]  flex justify-between text-black font-bold text-center   ">
    {{'countryofresidence'|translate}} :  <div class=" text-[3vw] text-red-700"> A+</div>
    <div class="mx-[1vw] flex justify-end  mb-[1vh] ">
   
     <div (click)="notific()"
         class="bg-white cursor-pointer    rounded-full flex justify-center items-center w-5 h-5">
         <img src="../../../assets/icons/clo.webp">
     </div>
 </div>
   </div>
  <div class="lg:text-[1.2vw] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
     Note
  </div>
  <div class="lg:text-[1.2vw] mb-[1vh] md:text-[1.6vw] text-[4vw] text-green-dark text-center md:px-0 px-4">
     location/location , 0770 3597983
   </div>


   <div   class="flex justify-center items-center">
    <button (click)="ohelp()" type="submit"
    class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
    {{ "helped" | translate}}
  </button>
  <!-- <div *ngIf="help==true"  class="flex justify-center items-center">
    <button (click)="ohelp()" type="submit"
    class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
    {{ "close" | translate}}
  </button> -->
  </div>
   <div *ngIf="help==true" class="w-full   mb-[2vh] flex flex-col items-center justify-center">
    <!-- [formGroup]="demoAccountForm"  (ngSubmit)="onSubmitDemoAccount()"  -->
    <form  
    
     class="w-full">
      <div class="h-10"></div>
       
      <!-- name -->
      <div class="w-full px-[3vw] flex md:flex-row flex-col">


        <div class="mb-4 md:w-6/12 w-full">
          <label class="block text-gray-700 text-sm mb-2" for="fistname">
              {{"phonenumber" | translate}}
          </label>
          <input formControlName="firstName"
              class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text">
          <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
          <!-- </div> -->
        </div>
       

          <div class="mb-4 md:w-6/12 w-full">
            <label class="block text-gray-700 text-sm mb-2" for="fistname">
                {{"location" | translate}}
            </label>
            <input formControlName="firstName"
                class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  type="text">
            <!-- <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}} -->
            <!-- </div> -->
          </div>

          <div class="mb-4 md:w-6/12 w-full">
            <label class="block text-gray-700 text-sm mb-2" for="fistname">
                {{"note" | translate}}
            </label>
            <textarea formControlName="firstName"
                class=" appearance-none border rounded w-full h-[15vh] py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  type="text">
            </textarea>
           
          </div>

      </div>

      <div class="flex justify-center items-center">
        <button (click)="onLogout()" type="submit"
        class=" bg-red-700 border-red-700   text-white block md:w-5/12 w-[70vw] py-3 border-2 font-medium lg:text-[1.4vw] text-[4vw] md:text-[1.7vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0   transition duration-150 ease-in-out">
        {{ "add" | translate}}
      </button>
      </div>
      
  </form>

  </div>
 </div>
  
  
        </div>
  
      </div>
    </div>
  
  </div>

