<div class="w-full mt-6">
    <div class="container w-9/12 mx-auto my-auto bg-white shadow-md rounded-xl">

        <form [formGroup]="realAccountService.realFormStepOne"   (ngSubmit)=" onNext()">
            <div class="w-full flex py-6">
                <!-- col 111111111111 -->
                <div class="w-6/12 px-6">
                    <!-- first name -->
                    <div>
                        <label for="" class="text-sm block pb-2">{{"firstname" | translate}}</label>
                        <input type="text" formControlName="firstName"
                            class="px-3 bg-transparent border rounded border-gray-300 h-10 w-full focus:outline-none">
                        <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}}
                        </div>
                    </div>
                    <!-- email -->
                    <div class="pt-5">
                        <label for="" class="text-sm block pb-2">{{"email" | translate}}</label>
                        <input type="email" formControlName="email"
                            class="px-3 bg-transparent border rounded border-gray-300 h-10 w-full focus:outline-none">
                        <div *ngIf="emailError != ''" class="text-sm text-red-600 mx-3 mt-1">{{emailError}}
                        </div>
                    </div>
                    <!-- country -->
                    <div class="pt-5">
                        <label for="" class="text-sm block pb-2">{{"countryofresidence" | translate}}</label>
                        <div class="relative">
                            <select id="countries" formControlName="country"
                                class="appearance-none border rounded border-gray-300 w-full font-extralight text-sm py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                                <option *ngFor="let country of realAccountService.countries " [value]="country['_id']">
                                    {{country['name_ku']}}
                                </option>
                            </select>
                            <!-- <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                                <img class="w-3 cursor-pointer" src="/assets/icons/menu.svg">
                            </div> -->
                            <div class="absolute inset-y-0 left-0 px-3 flex items-center text-sm leading-5">
                                <img class="w-3 cursor-pointer" src="/assets/icons/menu.svg">
                            </div>
                        </div>
                        <div *ngIf="countryError != ''" class="text-sm text-red-600 mx-3 mt-1">{{countryError}}
                        </div>
                    </div>
                    <!-- Date of birth -->

                    <div class="pt-5">
                        <label for="" class="text-sm block pb-2">{{"dateofbirth" | translate}}</label>
                        <input type="date" formControlName="dateOfBirth"
                            class="bg-transparent border text-gray-700 rounded border-gray-300 h-10 w-full focus:outline-none px-3">
                        <div *ngIf="birthError != ''" class="text-sm text-red-600 mx-3 mt-1">{{birthError}}
                        </div>
                    </div>

                </div>
                <!-- col 22222222222 -->
                <div class="w-6/12 px-6">
                    <!-- lastName -->
                    <div>
                        <label for="" class="text-sm block pb-2">{{"lastname" | translate}}</label>
                        <input type="text" formControlName="lastName"
                            class="px-3 bg-transparent border rounded border-gray-300 h-10 w-full focus:outline-none">
                        <div *ngIf="lastNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{lastNameError}}
                        </div>
                    </div>
                    <!-- phone number -->
                    <div class="pt-5">
                        <label for="" class="text-sm block pb-2">{{"phonenumber" | translate}}</label>
                        <input dir="ltr" formControlName="phoneNumber"
                            class="form-control appearance-none border rounded border-gray-300 w-full h-10 px-3 text-gray-700 leading-tight focus:outline-none"
                            type="tel" id="phone">
                        <div *ngIf="phoneError != ''" class="text-sm text-red-600 mx-3 mt-1">{{phoneError}}
                        </div>
                    </div>
                    <!-- city -->
                    <div class="pt-5">
                        <label for="city" class="text-sm block pb-2">{{"city" | translate }}</label>
                        <input type="text" formControlName="city" id="city"
                            class="px-3 bg-transparent border rounded border-gray-300 h-10 w-full focus:outline-none">
                        <div *ngIf="cityError != ''" class="text-sm text-red-600 mx-3 mt-1">{{cityError}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center mx-auto py-10">
                <button type="submit"
                    class="bg-primary-300 text-base text-white px-20 py-3 content-center rounded">{{"next" |
                    translate}}</button>
            </div>
        </form>


    </div>
</div>