<div [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl'"
    class="w-full min-h-screen pt-5 pb-20 bg-light-gray">
    <img class="md:mx-20 mx-auto mt-1" src="../../../assets/icons/black-green-logo.svg">
    <div class="w-full my-5 text-green-dark font-medium lg:text-[2vw] md:text-[2.5vw] flex justify-center">
        {{"tradeFXandCFDsonyourownlivetradingaccount" | translate}}
    </div>
    <div class="lg:w-9/12 md:w-10/12 w-11/12 mx-auto py-10 lg:px-32 md:px-20 px-5 bg-white rounded-">
        <div class="flex justify-center items-center">
            <div
                class="w-9 h-9 border-2 border-gray-400 rounded-full bg-light-gray flex justify-center items-center text-gray-900 ">
                1
            </div>
            <div class="md:w-40 w-24 border-t border-dashed border-gray-700 "></div>
            <div
                class="w-9 h-9 border border-primary-500 rounded-full bg-light-gray flex justify-center items-center text-gray-900 ">
                2
            </div>
        </div>
        <div class=" flex justify-center mx-auto mt-2">
            <div class="text-xs text-gray-500 "
                [ngClass]="{'md:mr-5 mr-2' : languageService.selectedLanguage == 'en' , 'md:ml-5 ml-2'  :  languageService.selectedLanguage != 'en' }">
                {{"contactdetails" | translate}}</div>
            <div class="text-xs text-gray-900"
                [ngClass]="{'md:ml-24 ml-10'  : languageService.selectedLanguage == 'en' , 'md:mr-24 mr-10' :  languageService.selectedLanguage != 'en' }">
                {{"tradingdetails" | translate}}</div>
        </div>

        <form [formGroup]="realAccountService.realFormStepOne"  (ngSubmit)="onSubmitRealStepOne()" class="w-full">
            <div class="h-10"></div>

            <!-- trading platform -->
            <div>
                <label for="tradingPlatformType" class="block text-gray-700 text-sm mb-2">
                    {{"tradingplatformtype" | translate}}
                </label>
                <div class="relative">
                    <select id="tradingPlatformType" formControlName="platformType"
                        [ngClass]="{'pr-4' : languageService.selectedLanguage == 'en', 'pl-10' : languageService.selectedLanguage != 'en'  }"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="mt5">MT5 (Forex, CFDs on Cryptocurrencies, Stocks, Equity Indices,
                            Metals, Energies)</option>

                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>

            <div class="h-9"></div>

            <!-- account type -->
            <div>
                <label for="accountType" class="block text-gray-700 text-sm mb-2">
                    {{"accounttype" | translate}}
                </label>
                <div class="relative">
                    <select id="accountType" formControlName="accountType"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="0">Standard (1 lot=100,000)</option>
                        <option value="2">Micro (1 lot=1,000)</option>
                        <option value="6">XM Ultra Low Standard (1 lot=100,000)</option>
                        <option value="5">XM Ultra Low Micro (1 lot=1,000)</option>


                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>


            <div class="h-9"></div>

            <!-- currency -->
            <div>
                <label for="accountBaseCurrency" class="block text-gray-700 text-sm mb-2">
                    {{"accountbasecurrency" | translate}}
                </label>
                <div class="relative">
                    <select id="accountBaseCurrency" formControlName="currency"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option *ngFor="let currency of realAccountService.currencies" [value]="currency['_id']">
                            {{currency['name']}}</option>
                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>

            <div class="h-9"></div>

            <!-- leverage -->
            <div>
                <label for="laverage" class="block text-gray-700 text-sm mb-2">
                    {{"leverage" | translate}}
                </label>
                <div class="relative">
                    <select id="laverage"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option *ngFor="let laverage of leverages ;let i = index  " [selected]="i == 0"
                            [value]=" laverage">
                            1:{{laverage}}</option>
                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>



            <div class="h-9"></div>

            <!-- investment -->
            <div>
                <label for="investmentAmount" class="block text-gray-700 text-sm mb-2">
                    {{"investmentamount" | translate}}
                </label>
                <div class="relative">
                    <select id="investmentAmount"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option *ngFor="let investment of investments ; let i = index ;" [selected]="i == 0"
                            [value]="investmentNumber[i]">
                            {{investment}}</option>
                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>


            <div class="h-20"></div>

            <button  type="submit"
                class="block mx-auto w-7/12 py-3 bg-primary-500 border-2 border-primary-500 text-white font-medium  rounded-md hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
                {{"next" | translate}}
            </button>

            <div class="h-8"></div>

            <!-- <div class="text-gray-900 text-center font-medium flex justify-center">Already have an account? <span
                    class="text-primary-500 underline font-light">Login</span></div> -->

        </form>


    </div>
</div>