<div [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl'"
    class="w-full min-h-screen pt-5 pb-20 bg-light-gray">

    <img class="md:mx-20 mx-auto mt-1" src="../../../assets/icons/black-green-logo.svg">
    <div class="w-full my-5 text-green-dark font-medium lg:text-[2vw] md:text-[2.5vw] flex justify-center">
        {{"tradeFXandCFDsonyourownlivetradingaccount" | translate}}
    </div>
    <div class="lg:w-9/12 md:w-10/12 w-11/12 mx-auto py-10 lg:px-32 md:px-20 px-5 bg-white rounded-">
        <div class="flex justify-center items-center">
            <div
                class="w-9 h-9 border-2 border-primary-500 rounded-full bg-light-gray flex justify-center items-center text-gray-900 ">
                1
            </div>
            <div class="md:w-40 w-24 border-t border-dashed border-gray-700 "></div>
            <div
                class="w-9 h-9 border border-gray-400 rounded-full bg-light-gray flex justify-center items-center text-gray-900 ">
                2
            </div>
        </div>
        <div class=" flex justify-center mx-auto mt-2">

            <div class="lg:text-[1vw] md:text-[1.5vw] text-gray-900 "
                [ngClass]="{'md:mr-5 mr-2' : languageService.selectedLanguage == 'en' , 'md:ml-5 ml-2' :  languageService.selectedLanguage != 'en' }">
                {{"contactdetails" | translate}}</div>

            <div class="lg:text-[1vw] md:text-[1.5vw] text-gray-500 "
                [ngClass]="{'md:ml-24 ml-10' : languageService.selectedLanguage == 'en' , 'md:mr-24 mr-10' :  languageService.selectedLanguage != 'en' }">
                {{"tradingdetails" | translate}}</div>

        </div>




        <form   [formGroup]="realAccountServiec.realFormStepOne"
            (ngSubmit)="onSubmitRealStepOne()" class="w-full">
            <div class="h-10"></div>

            <!-- name -->
            <div class="w-full flex md:flex-row flex-col">
                <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"firstname" | translate}}
                    </label>
                    <input formControlName='firstName'
                        class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="firstname" type="text">
                    <div *ngIf="realAccountServiec.firstNameError == ''" class="text-sm text-red-600 mx-3 mt-1">
                        {{realAccountServiec.firstNameError}}
                    </div>
                </div>

                <div class="md:w-12 w-0 md:h-0 h-4"></div>

                <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="lastname">
                        {{"lastname" | translate}}
                    </label>
                    <input formControlName="lastName"
                        class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="lastname" type="text">
                    <div *ngIf="realAccountServiec.lastNameError == ''" class="text-sm text-red-600 mx-3 mt-1">
                        {{realAccountServiec.lastNameError}}
                    </div>
                </div>
            </div>

            <div class="h-5"></div>

            <!-- country -->
            <div>
                <label for="countries" class="block text-gray-700 text-sm mb-2">
                    {{"countryofresidence" | translate }}
                </label>
                <div class="relative">
                    <select id="countries" formControlName="country"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option class="font-roboto" *ngFor="let country of realAccountServiec.countries "
                            [value]="country['_id']">
                            {{country['name_en']}}
                        </option>
                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>
                <div *ngIf="realAccountServiec.countryError == ''" class="text-sm text-red-600 mx-3 mt-1">
                    {{realAccountServiec.countryError}}
                </div>

            </div>


            <div class="h-9"></div>

            <!-- email -->
            <div>
                <label for="email" class="block text-gray-700 text-sm mb-2">
                    {{"email" | translate}}
                </label>
                <input formControlName="email"
                    class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" type="email">
                <div *ngIf="realAccountServiec.emailError == ''" class="text-sm text-red-600 mx-3 mt-1">
                    {{realAccountServiec.emailError}}
                </div>
            </div>


            <div class="h-9"></div>

            <!-- password -->
            <div class="w-full flex md:flex-row flex-col ">
                <div class="mb-6 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="password">
                        <span class="text-custom-red">*</span> {{"password" | translate}}
                    </label>
                    <div class="relative">
                        <input formControlName="password"
                            class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="password" [type]="showPassword ? 'text' : 'password'">
                        <div *ngIf="languageService.selectedLanguage == 'en'" (click)="onShowPassword()"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <img class="w-5 cursor-pointer"
                                src="../../../assets/icons/{{showPassword ? 'hide' : 'show' }}.svg">
                        </div>
                        <div *ngIf="languageService.selectedLanguage != 'en'" (click)="onShowPassword()"
                            class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                            <img class="w-5 cursor-pointer"
                                src="../../../assets/icons/{{showPassword ? 'hide' : 'show' }}.svg">
                        </div>
                    </div>
                    <div *ngIf="realAccountServiec.passwordError == ''" class="text-sm text-red-600 mx-3 mt-1">
                        {{realAccountServiec.passwordError}}
                    </div>

                </div>

                <div class="md:w-12 w-0 h-4 md:h-0"></div>

                <div class="mb-6 md:w-6/12 w-ull">
                    <label class="block text-gray-700 text-sm mb-2" for="confirem">
                        <span class="text-custom-red">*</span> {{"confirempassword" | translate}}
                    </label>
                    <div class="relative">
                        <input formControlName="confiremPassword"
                            class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="confirem" [type]="showConfiremPassword ? 'text' : 'password'">
                        <div *ngIf="languageService.selectedLanguage == 'en'" (click)="onShowConfiremPassword()"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                            <img class="w-5 cursor-pointer"
                                src="../../../assets/icons/{{showConfiremPassword ? 'hide' : 'show'}}.svg">
                        </div>
                        <div *ngIf="languageService.selectedLanguage != 'en'" (click)="onShowConfiremPassword()"
                            class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                            <img class="w-5 cursor-pointer"
                                src="../../../assets/icons/{{showConfiremPassword ? 'hide' : 'show'}}.svg">
                        </div>

                    </div>
                    <div *ngIf="realAccountServiec.confiremPasswordError == ''" class="text-sm text-red-600 mx-3 mt-1">
                        {{realAccountServiec.confiremPasswordError}}
                    </div>
                </div>
            </div>

            <div class="h-20"></div>

            <button type="submit"
                class="block mx-auto w-7/12 py-3 bg-primary-500 border-2 border-primary-500 text-white font-medium  rounded-md hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
                {{"next" | translate}}
            </button>

            <div class="h-8"></div>

            <!-- <div class="text-gray-900 text-center font-medium flex justify-center">Already have an account? <span
                    class="text-primary-500 underline font-light">Login</span></div> -->

        </form>


    </div>
</div>