<!-- sm -->
<div class="w-full bg-white md:hidden block">

    <hr class="w-full opacity-10">

    <div class="w-full py-5 flex flex-col justify-center items-center">

        <img class="w-3/12" src="../../../assets/images/logo.jpeg">
        <div class="h-7"></div>
        <div class="text-green-dark px-12 opacity-95 text-center font-extralight text-[3.5vw]">
            {{ "qoute" | translate}}
        </div>
        <div class="h-5"></div>

         <div class="text-red-700 underline font-bold px-12 opacity-95 text-center font-extralight text-[3.5vw]">
            {{ "contactus" | translate}}
        </div>
        <div class="h-5"></div>

        <div class="text-green-dark w-[90vw] font-roboto opacity-95 font-extralight text-[3vw] flex justify-center items-start">
             <div dir="ltr" class=" flex ">
               <div class="flex justify-center items-center "> <img class="w-[2.5vw] mx-[3vw]  " src="../../../assets/images/phone.png">
                <p class="text-gray-600"> 0770 359 7983</p></div>
                
                <div class="flex justify-center  items-center"> <img class="w-[2.5vw] mx-[3vw]  " src="../../../assets/images/phone.png">
                    <p class="text-gray-600">0773 544 4546</p></div>
                
                    <div class="flex justify-center  items-center"> <img class="w-[2.5vw] mx-[3vw]  " src="../../../assets/images/phone.png">
                        <p class="text-gray-600"> 0751 015 4704</p></div>
                 
            </div>
        </div>

        <div class="h-4"></div>

        <div class="text-green-dark w-56 opacity-95 font-roboto font-extralight text-[3vw] flex justify-center">
            <img class="w-[4vw]" src="../../../assets/images/email.jpeg">
            <div class="mx-[1vw] ">
                <a href="mailto:info@blackstallionfx.com">
                    sima.sleman2000@gmail.com
                </a>
            </div>
        </div>

        <div class="h-3"></div>

        <div class="text-green-dark w-56 opacity-95 font-roboto font-extralight text-[3vw] flex justify-center">
            <img class="w-[3.5vw] mx-[1vw]" src="../../../assets/images/loca.png">
            <div class=""></div>

            <div class=" font-roboto text-center  ">
                <a target="_blank"
                    >
                    <div> Sulaymaniyah, Kurdistan, Iraq</div>
                </a>

            </div>
        </div>

        <div class="h-6"></div>

        <!-- <div class="w-ful flex justify-center">
            <div class="flex justify-between h-8">
                <a href="https://www.facebook.com/blackstallioncompany?mibextid=ZbWKwL" target="_blank">
                    <img class=" w-[10vw] h-[10vw] mx-1 cursor-pointer" src="../../../assets/icons/circle-facebook.svg">
                </a>
                <a href="https://instagram.com/blackstallion_fx?igshid=YmMyMTA2M2Y=" target="_blank">
                    <img class=" w-[10vw] h-[10vw] mx-1 cursor-pointer"
                        src="../../../assets/icons/circle-instagram.svg">
                </a>
                <a href="https://t.me/blackstallionfx" target="_blank">
                    <img class=" w-[10vw] h-[10vw] mx-1 cursor-pointer" src="../../../assets/icons/telegram-green.svg">
                </a> 
                <a href="https://www.linkedin.com/company/88695037/admin/" target="_blank">
                    <img class=" w-[10vw] h-[10vw] mx-1 cursor-pointer" src="../../../assets/icons/linkedin.svg">
                </a>
            </div>
        </div> -->

        <!-- <div class="h-16"></div> -->
        <div dir="ltr"
            class="w-full text-center text-[2vw] font-roboto opacity-60 text-green-dark flex justify-center items-center">
            © 2024 All rights reserved. <div class="text-[2vw] font-bold text-red-600"> Sima Sleman </div> Software developer
        </div>


    </div>

 
 
    <div class="w-full px-10  font-extralight  tracking-wider leading-7 text-gray-400   text-[3vw]">
        {{"blodfinal" | translate}} <br>
       
    </div>

    <div class="h-14"></div>

</div>

 