<div class="w-full flex flex-col items-center bg-green-gray">
    <div class="h-12"></div>
    <div class="tracking-wide text-green-dark font-semibold lg:text-[2vw] md:text-[2.8vw] text-[5vw]">{{"testimonials" |
        translate}}</div>
    <div class="h-5 "></div>
    <div class="text-green-dark text-[3.5vw] lg:text-[1.5vw] md:text-[1.8vw]">{{"seewhatourcustomersayaboutus" |
        translate}}</div>

    <div class="h-8"></div>

    <!-- slider -->

    <swiper dir="rtl" id="testimonials" [centeredSlides]="true" [spaceBetween]="30" [slidesPerView]="3" [loop]="true"
        [loopFillGroupWithBlank]="true" [centeredSlides]="true" [pagination]="{clickable: true}"
        [autoplay]="{delay: 2700, disableOnInteraction: false}" [navigation]="false"
        class="w-10/12 pb-14 hidden lg:block">
        <ng-template *ngFor="let item of items; index as i;" swiperSlide>

            <div [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl' "
                class="rounded-md bg-white shadow-md w-96">
                <div id="card-content">
                    <div class="h-3"></div>
                    <div class="w-10 my-5 opacity-60">
                        <img src="../../../assets/icons/testimonials.svg">
                    </div>

                    <div [ngClass]="{'font-medium' : languageService.selectedLanguage == 'en' , 'font-semibold' : languageService.selectedLanguage != 'en'  }"
                        class="text-green-dark ">{{"greateexperience" | translate }}</div>
                    <div class="h-2"></div>
                    <!-- <div class=" text-sm text-gray-400">{{"David GK" | translate}}</div> -->
                    <div class="h-1"></div>
                    <div id="text-testimonials" class="text-gray-600 text-sm tracking-wider leading-6">
                        {{"abouttext" | translate}}
                    </div>
                    <div class="h-10"></div>
                    <div class="w-full flex">
                        <img src="../../../assets/icons/fill-star.svg">
                        <img src="../../../assets/icons/fill-star.svg">
                        <img src="../../../assets/icons/fill-star.svg">
                        <img src="../../../assets/icons/fill-star.svg">
                        <img src="../../../assets/icons/half-fill-star.svg">

                    </div>
                    <div class="h-10"></div>
                </div>

            </div>

        </ng-template>
    </swiper>





 

    <div class="h-3"></div>


</div>