<div class="w-full" style="background-color: #F2F2F2;">
    <div class="h-16"></div>
    <div class="w-full flex justify-center items-center">
        <div class="tracking-wide text-center text-red-700 font-semibold lg:text-[2vw] md:text-[2.8vw] text-[5vw]">
            {{"supportedpaymentmethods" | translate}}
        </div>
    </div>
    <div class="h-8"></div>
  

    <swiper dir="rtl" id="latest-news" [spaceBetween]="0" [slidesPerView]="1" [loop]="true"
        [loopFillGroupWithBlank]="true" [pagination]="false" [autoplay]="{delay: 2700, disableOnInteraction: false}"
        [navigation]="false" class="w-10/12 pb-16 block md:hidden">
        <ng-template swiperSlide>
            <div [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl' "
                class=" flex items-center justify-between h-24">
                <div class="relative w-[17vw] mx-1">
                     <img class="w-full relative z-10 hover:opacity-0 cursor-pointer" style="background-color: #F2F2F2;"
                        src="../../../assets/images/talasimia.png">
                </div>
                <div class="w-2"></div>
                <div class="relative w-[19vw] mx-1">
                     <img class="relative w-full z-10 hover:opacity-0 cursor-pointer" style="background-color: #F2F2F2;"
                        src="../../../assets/images/hiwa.jpeg">
                </div>
                <div class="w-2"></div>
                <div class="relative w-[11vw] mx-1">
                     <img class=" w-full relative z-10 h-full hover:opacity-0 cursor-pointer"
                        style="background-color: #F2F2F2;" src="../../../assets/images/bankofblad.jpeg">
                </div>
                <div class="w-2"></div>
                <div class="relative w-[15vw] mx-1">
                     <img class=" w-full relative z-10 hover:opacity-0 cursor-pointer" style="background-color: #F2F2F2;"
                        src="../../../assets/images/gov.jpeg">
                </div>

            </div>

        </ng-template>


        <ng-template swiperSlide>
            <div [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl' "
                class=" flex items-center justify-between h-24">
                <div class="relative w-[15vw]  mx-2">
                    <img class="absolute w-full  z-0" src="../../../assets/icons/zaincash-colorfull.svg">
                    <img class="relative w-full  z-10 hover:opacity-0 cursor-pointer" style="background-color: #F2F2F2;"
                        src="../../../assets/icons/zaincash.svg">
                </div>
                <div class="w-2"></div>
                <div class="relative w-[20vw] mx-1">
                    <img class="w-full absolute z-0  " src="../../../../assets/icons/byblos-colorfull.png">
                    <img class="w-full relative z-10 hover:opacity-0 cursor-pointer" style="background-color: #F2F2F2;"
                        src="../../../../assets/icons/byblos-gray.png">
                </div>
                <div class="w-2"></div>
                <div class="relative w-[11vw] mx-1">
                    <img class="absolute w-full z-0" src="../../../assets/icons/mastercard-colorfull.svg">
                    <img class="relative w-full z-10 hover:opacity-0 cursor-pointer" style="background-color: #F2F2F2;"
                        src="../../../assets/icons/mastercard.svg">
                </div>
                <div class="w-2"></div>
                <div class="relative w-[18vw] mx-1">
                    <img class="absolute w-full  z-0" src="../../../assets/icons/usdt-colorfull.svg">
                    <img class="relative w-full z-10 hover:opacity-0 cursor-pointer" style="background-color: #F2F2F2;"
                        src="../../../assets/icons/usdt.svg">
                </div>
            </div>

        </ng-template>


    </swiper>



    <div class="md:h-20"></div>
</div>
 