<!-- mobile navbar -->
<nav dir="ltr"
  class=" w-full h-16  md:hidden fixed z-30 flex justify-between items-center lg:px-24 md:px-14 shadow-md text-green-dark bg-white">
  <div (click)="onTop()" routerLink="/" class=" py-2 px-4 cursor-pointer ">
    <img class="h-9" src="assets/images/logo.jpeg">
  </div>


  


  <div class="px-4 flex items-center ">
    <div class=" flex cursor-pointer font-roboto">
      <div (click)="onOpenLanguageDropdown('')" class="w-7 h-7 rounded-full flex justify-center items-center">
        <a
          class="block cursor-pointer rounded lg:text-[1.2vw] md:text-[1.5vw] font-medium capitalize ">{{languageService.selectedLanguage}}</a>
        <!-- <img class="cursor-pointer mr-3" (click)="onOpenDropdown()" src="assets/icons/english-language.svg"> -->
      </div>
      <img class="cursor-pointer" (click)="onOpenLanguageDropdown('')" src="assets/icons/expand.svg">
      <!-- Dropdown menu -->
      <div *ngIf="openDropdown"
        class="absolute mt-12 z-10 w-24 bg-white dropdown-shadow  rounded divide-y divide-gray-100 ">
        <ul class="py-1 lg:text-[1vw] md:text-[1.3vw] text-gray-700 ">
          <li>
            <div (click)="onOpenLanguageDropdown('ku')"
              class="my-2 w-9/12 px-2 py-2 rounded mx-auto flex justify-between items-center hover:bg-green-gray"
              [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'ku'}">
              <div class="w-7 object-cover rounded-full">
                <img class="rounded-full object-cover" src="assets/icons/kurdish-language.jpg">
              </div>
              <a class="block text-gray-700 cursor-pointer rounded font-medium  ">Ku</a>
            </div>
          </li>
          <li>
            <div (click)="onOpenLanguageDropdown('ar')"
              [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'ar'}"
              class="my-2 w-9/12 px-2 py-2 rounded mx-auto flex justify-between items-center hover:bg-green-gray">
              <div class="w-7 object-cover rounded-full">
                <img class="rounded-full object-cover" src="assets/icons/iraq-language.png">
              </div>
              <a class="block text-gray-700 cursor-pointer rounded font-medium   ">Ar</a>
            </div>
          </li>
          <li>
            <div (click)="onOpenLanguageDropdown('en')"
              [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'en'}"
              class="my-2 w-9/12 px-2 rounded mx-auto flex justify-between items-center hover:bg-green-gray">
              <div class="w-7 object-cover rounded-full">
                <img class="rounded-full object-cover" src="assets/icons/english-language.svg">
              </div>
              <a class="block py-2 text-gray-700 cursor-pointer rounded font-medium ">En</a>
            </div>
          </li>
  
        </ul>
      </div>
    </div>
     <button *ngIf="loginService.token != '' " (click)="onLogin()" 
      class="block w-[25vw] px-2 py-[5px] mx-[0.6vw] bg-red-700 border-2 border-red-700 text-white font-medium text-[2.5vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-red-300  transition duration-150 ease-in-out">
      {{"login" | translate}}
    </button>
   

  <button *ngIf="loginService.token == '' " (click)="folder()" 
  class="  w-[14vw] px-2 py-[5px]   flex justify-between items-center  transition duration-150">
  <img class="h-7 mx-[1vw]" src="assets/images/fold.png">
  <div class="text-[4vw]  text-red-500">20</div>
</button>
    <button *ngIf="loginService.token == '' " (click)="onLogout()" 
      class="  w-[15vw] px-2 py-[5px]   flex justify-between items-center  transition duration-150">
      <img class="h-9" src="assets/images/n.webp">
      <div class="text-[4vw] text-red-500">20</div>
    </button>
   
</div>
</nav>  