 
<nav dir="ltr" class=" w-full lg:h-24 md:h-20  fixed z-30  hidden md:flex justify-between items-center lg:px-24 md:px-12 shadow text-green-dark bg-green-gray">
 

  <div class=" w-2/12  ">
    <img (click)="onTop()" routerLink="/" class=" cursor-pointer " src="assets/icons/logo-v2.png">
  </div>


  <div    [dir]=" languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl'"
    [ngClass]="{' lg:w-[40vw] md:w-6/12 ' : languageService.selectedLanguage == 'en', ' lg:w-[45vw] md:w-[48vw] ' : languageService.selectedLanguage != 'en' }"
    class=" lg:text-[1.2vw] md:text-[1.4vw] flex justify-between">
    <div    class=" font-medium cursor-pointer "  (click)="onTop()" routerLink="/" 
      routerLinkActive="text-primary-500" [routerLinkActiveOptions]="{exact:true}">{{"home" | translate}}
    </div>

    <div class=" group inline-block relative">
      <button (click)="homeService.onTradingShowModal()"
        [ngClass]="{'text-primary-500' : router.url === '/start_trading'}"
        class=" font-medium inline-flex items-center">
        <span class="mr-1 cursor-pointer"> {{ "trading" | translate}}</span>
      </button>
      <ul
        class="absolute lg:w-[14vw] md:w-[20vw] bg-white lg:text-[1vw] md:text-[1.3vw] text-white dropdown-shadow rounded-md hidden py-3 group-hover:block">
        <li class="px-2 py-2 ">
          <a (click)="homeService.onTradingShowModal()" routerLink="/start_trading" routerLinkActive="bg-green-gray"
            [routerLinkActiveOptions]="{exact:true}"
            class=" text-gray-700 cursor-pointer rounded font-medium hover:bg-green-gray py-2 px-2 block whitespace-no-wrap">
            {{ "starttrading" | translate}}</a>
        </li>
        <li class="px-2 py-2">
          <a class="text-gray-400 rounded  font-medium  py-2 px-2 block whitespace-no-wrap">
            {{ "accounttype" | translate}}
          </a>
        </li>
        
        
      </ul>
    </div>

    <div class=" group inline-block relative">
      <button class=" font-medium inline-flex items-center">
        <span class="mr-1"> {{ "services" | translate}}</span>
      </button>
      <ul
        class="absolute lg:w-[14vw] md:w-[20vw] bg-white lg:text-[1vw] md:text-[1.3vw] text-white dropdown-shadow rounded-md hidden py-3 group-hover:block">
        <li class="px-2">
          <a class="text-gray-400 rounded font-medium  py-2 px-2 block whitespace-no-wrap">
            {{ "education" | translate}}</a>
        </li>

      </ul>
    </div>


    <!-- <div class="font-medium">{{ "partnership" | translate}}</div> -->

    <div class="group inline-block relative">
      <button class=" font-medium inline-flex items-center">
        <span (click)="homeService.onChangeStatus('')"
          [ngClass]="{'text-primary-500' : router.url === '/market&alerts/technical_analysis' || router.url === '/market&alerts/news_detail' }"
          class="mr-1 cursor-pointer ">{{
          "market&alerts" | translate}}
        </span>
      </button>
      <ul
        class="absolute lg:w-[14vw] md:w-[20vw] bg-white lg:text-[1vw] md:text-[1.3vw] dropdown-shadow rounded-md hidden py-3 group-hover:block">
        <li class="px-2 py-2">
          <a (click)="homeService.onChangeStatus('')" routerLink="/market&alerts/news_detail"
            routerLinkActive="bg-green-gray"
            class="text-gray-700 cursor-pointer rounde font-medium hover:bg-green-gray py-2 px-2 block whitespace-no-wrap">
            {{ "news" | translate}}
          </a>
        </li>
        <li class="px-2 py-2">
          <a (click)="homeService.onChangeStatus('')" routerLink="/market&alerts/technical_analysis"
            routerLinkActive="bg-green-gray" [routerLinkActiveOptions]="{exact:true}"
            class="text-gray-700 cursor-pointer rounded font-medium hover:bg-green-gray py-2 px-2 block whitespace-no-wrap">
            {{ "technicalanalysis" | translate}}
          </a>
        </li>
      </ul>
    </div>


    <div class="group inline-block relative">
      <button [ngClass]="{'text-primary-500' : router.url === '/about'}" (click)="homeService.onChangeStatus('')"
        class=" font-medium inline-flex items-center">
        <span class="mr-1 cursor-pointer">{{ "about" |
          translate}}</span>
      </button>
      <ul
        class="absolute lg:w-[14vw] md:w-[20vw] bg-white lg:text-[1vw] md:text-[1.3vw] dropdown-shadow rounded-md hidden py-3 group-hover:block">
        <li class="px-2 py-2">
          <a class="text-gray-400 rounded font-medium py-2 px-2 block whitespace-no-wrap">
            {{ "whyblackfx" | translate}}
          </a>
        </li>
        <!-- <li class="px-2 py-2">
          <a (click)="homeService.onChangeStatus('partners')">
            <div class="text-gray-400 rounded font-medium py-2 px-2 block whitespace-no-wrap">
              {{ "partners" | translate}}
            </div>
          </a>
        </li> -->
        <li class="px-2 py-2">
          <!-- (click)="homeService.onChangeStatus('payment')" -->
          <a>
            <div (click)="onPayment()" [ngClass]="{'bg-green-gray' : homeService.status == 'payment' }"
              class="text-gray-700 cursor-pointer rounded font-medium hover:bg-green-gray py-2 px-2 block whitespace-no-wrap">
              {{ "payments" | translate}}
            </div>
          </a>
        </li>
        <li class="px-2 py-2">
          <!-- (click)="homeService.onChangeStatus('contactus')" -->
          <a >
            <div   (click)="onContactUs()" [ngClass]="{'bg-green-gray' : homeService.status == 'contactus' }"
              class="text-gray-700 cursor-pointer rounded font-medium hover:bg-green-gray py-2 px-2 block whitespace-no-wrap">
              {{ "contactus" | translate}}
            </div>
          </a>

        </li>
        <li class="px-2 py-2">
          <a (click)="homeService.onChangeStatus('')" routerLink="/about" routerLinkActive="bg-green-gray"
            [routerLinkActiveOptions]="{exact:true}"
            class="text-gray-700 cursor-pointer rounded font-medium hover:bg-green-gray py-2 px-2 block whitespace-no-wrap">
            {{ "aboutus" | translate}}

          </a>
        </li>
      </ul>
    </div>
  </div>


  <!-- lg:w-[10vw] md:2/12 -->
  <div class=" flex justify-between items-center ">

    <div class="font-medium lg:text-[1.2vw] md:text-[1.4vw] font-roboto flex items-center">{{ "f&q" | translate}}</div>
    <div class="w-[0.8vw]"></div>
    <div class=" flex cursor-pointer font-roboto">
      <div (click)="onOpenLanguageDropdown('')" class="w-7 h-7 rounded-full flex justify-center items-center">
        <a
          class="block cursor-pointer rounded lg:text-[1.2vw] md:text-[1.5vw] font-medium capitalize ">{{languageService.selectedLanguage}}</a>
        <!-- <img class="cursor-pointer mr-3" (click)="onOpenDropdown()" src="assets/icons/english-language.svg"> -->
      </div>
      <img class="cursor-pointer" (click)="onOpenLanguageDropdown('')" src="assets/icons/expand.svg">
      <!-- Dropdown menu -->
      <div *ngIf="openDropdown"
        class="absolute mt-12 z-10 w-24 bg-white dropdown-shadow  rounded divide-y divide-gray-100 ">
        <ul class="py-1 lg:text-[1vw] md:text-[1.3vw] text-gray-700 ">
          <li>
            <div (click)="onOpenLanguageDropdown('ku')"
              class="my-2 w-9/12 px-2 py-2 rounded mx-auto flex justify-between items-center hover:bg-green-gray"
              [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'ku'}">
              <div class="w-7 object-cover rounded-full">
                <img class="rounded-full object-cover" src="assets/icons/kurdish-language.jpg">
              </div>
              <a class="block text-gray-700 cursor-pointer rounded font-medium  ">Ku</a>
            </div>
          </li>
          <li>
            <div (click)="onOpenLanguageDropdown('ar')"
              [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'ar'}"
              class="my-2 w-9/12 px-2 py-2 rounded mx-auto flex justify-between items-center hover:bg-green-gray">
              <div class="w-7 object-cover rounded-full">
                <img class="rounded-full object-cover" src="assets/icons/iraq-language.png">
              </div>
              <a class="block text-gray-700 cursor-pointer rounded font-medium   ">Ar</a>
            </div>
          </li>
          <li>
            <div (click)="onOpenLanguageDropdown('en')"
              [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'en'}"
              class="my-2 w-9/12 px-2 rounded mx-auto flex justify-between items-center hover:bg-green-gray">
              <div class="w-7 object-cover rounded-full">
                <img class="rounded-full object-cover" src="assets/icons/english-language.svg">
              </div>
              <a class="block py-2 text-gray-700 cursor-pointer rounded font-medium ">En</a>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <div class="w-[1vw]"></div>

    <button *ngIf="loginService.token == '' " (click)="onLogin()" type="button"
      class="block lg:w-[9vw] md:w-6/12 px-2 py-[5px] bg-primary-500 border-2 border-primary-500 text-white font-medium text-[1vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
      {{"login" | translate}}
    </button>

    <button *ngIf="loginService.token != '' " (click)="onLogout()" type="button"
      class="block lg:w-[9vw] md:w-6/12 px-2 py-[5px] bg-primary-500 border-2 border-primary-500 text-white font-medium text-[1vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
      {{"logout" | translate}}
    </button>
    <!-- <div class="w-[0.8vw]"></div>

    <div class=" flex justify-between cursor-pointer ">
      <div (click)="onOpenprofileDropdown()" class="flex justify-center items-center">
        <img class="lg:w-[2.5vw] md:w-[3vw]  " src="assets/icons/profile.svg">
      </div>
      <div *ngIf="openDropdownProfile"
        class="absolute mt-12 z-10 lg:w-[10vw] md:w-[11vw] bg-white dropdown-shadow  rounded divide-y divide-gray-100 ">

        <ul class="py-1 lg:text-[1vw] md:text-[1.3vw] text-gray-700 ">

          <li (click)="onPortal()">
            <div [ngClass]="{' text-gray-400' : token == '' , 'text-gray-700 hover:bg-green-gray' : token != '' }"
              class="my-2 w-9/12 px-2 py-2 rounded mx-auto flex justify-between items-center hover:bg-green-gray">
              <a class="block text-gray-700 cursor-pointer rounded font-medium ">{{"portal" | translate}}</a>
            </div>
          </li>

          <li (click)="onLogout()">
            <div [ngClass]="{' text-gray-400' : token == '' , 'text-gray-700 hover:bg-green-gray' : token != '' }"
              class="my-2 w-9/12 px-2 py-2 rounded mx-auto flex justify-between items-center ">
              <a class="block  cursor-pointer rounded font-medium ">{{"logout" | translate}}</a>
            </div>
          </li>

        </ul>

      </div>
    </div> -->
  </div>

</nav>









<!-- mobile navbar -->

<nav dir="ltr"
  class=" w-full h-16  md:hidden fixed z-30 flex justify-between items-center lg:px-24 md:px-14 shadow-md text-green-dark bg-green-gray">
  <div (click)="onTop()" routerLink="/" class=" py-2 px-4 cursor-pointer ">
    <img class="h-9" src="assets/icons/logo-v2.png">
  </div>
  <div class="px-4 flex ">
    <!-- <img class="cursor-pointer" (click)=" onOpenProfileNav()" src="assets/icons/profile.svg"> -->
    <button *ngIf="loginService.token == '' " (click)="onLogin()" type="button"
      class="block w-[25vw] px-2 py-[5px] bg-primary-500 border-2 border-primary-500 text-white font-medium text-[2.5vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
      {{"login" | translate}}
    </button>

    <button *ngIf="loginService.token != '' " (click)="onLogout()" type="button"
      class="block w-[25vw] px-2 py-[5px] bg-primary-500 border-2 border-primary-500 text-white font-medium text-[2.5vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
      {{"logout" | translate}}
    </button>

    <div class="w-3"></div>
    <img (click)="onOpenNav()" *ngIf="!isNavOpen" class="cursor-pointer w-7" src="../../../assets/icons/bargr-nav.svg">
    <img (click)=" onOpenNav()" *ngIf="isNavOpen" class="cursor-pointer w-5" src="../../../assets/icons/close-nav.svg">

  </div>

</nav>







<div *ngIf="isNavOpen" class=" fixed top-16 md:hidden  z-30 w-full shadow-lg bg-white">
  <!-- <div class="lg:h-24 md:h-20 h-16"></div> -->
  <!-- 
    ama dw buttonakaya
    
    <div class="flex flex-col items-center w-full py-10 px-24">
    <button (click)="homeService.onShowModal('real account')" type="button"
      class="block w-[70vw] py-3 bg-primary-500 border-2 border-primary-500 text-white font-medium text-[4vw] rounded hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
      {{"realaccount" | translate}}
    </button>

    <div class="h-4"></div>

    <button (click)="homeService.onShowModal('demo account')" type="button"
      class="inline-block w-[70vw]   py-3 bg-transparent border-2 border-primary-500 text-green-dark font-medium text-[4vw] rounded hover:shadow-lg  focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
      {{"freedemo" | translate}}
    </button>
  </div> -->

  <div class="w-full text-green-dark bg-white ">
    <div [ngClass]="{'text-primary-500' : router.url === '/'}" class="font-medium cursor-pointer px-5 my-3"
      (click)="homeService.onChangeStatus('')" routerLink="/">{{"home" |
      translate}}
    </div>
    <hr>

    <div (click)="onOpenTradingForMob()" class="flex cursor-pointer justify-between">
      <button class=" font-medium inline-flex items-center cursor-pointer">
        <span [ngClass]="{'text-primary-500' : router.url === '/start_trading'}"
          class="my-3 px-5 cursor-pointer">{{"trading" |
          translate}}</span>
      </button>
      <img [ngClass]="{'rotate-180' : !isTradingOpen }" class="mx-5" src="../../../assets/icons/nav-down-icon.svg">
    </div>
    <hr>

    <div *ngIf="isTradingOpen" class="w-full">
      <ul class=" w-full bg-white dropdown-shadow rounded-md py-3 group-hover:block">
        <li class=" py-2 ">
          <a (click)="homeService.onTradingShowModal()" routerLink="/start_trading" routerLinkActive="bg-green-gray"
            [routerLinkActiveOptions]="{exact:true}"
            class=" text-green-dark cursor-pointer rounded text-sm font-medium hover:bg-green-gray py-2 px-10 block whitespace-no-wrap">
            {{"starttrading" | translate}}
          </a>
        </li>
        <li class=" py-2">
          <a class="text-gray-400 rounded text-sm font-medium  py-2 px-10 block whitespace-no-wrap">
            {{"accounttype" | translate}}
          </a>
        </li>
        <li class=" py-2">
          <a class="text-gray-400 rounded text-sm font-medium  py-2 px-10 block whitespace-no-wrap">
            {{"tradingplatforms" | translate}}
          </a>
        </li>
        <li class=" py-2">
          <a class="text-gray-400  rounded text-sm font-medium  py-2 px-10 block whitespace-no-wrap">
            {{"deposit&widthdraw" | translate}}
          </a>
        </li>
        <li class="">
          <a class="text-gray-400 rounded text-sm font-medium  py-2 px-10 block whitespace-no-wrap">
            {{"education" | translate}} </a>
        </li>
      </ul>
      <div class="h-5"></div>

    </div>


    <div class="font-medium cursor-pointer text-green-dark px-5 my-3">{{"services" | translate}}
    </div>
    <hr>

    <!-- <div class="font-medium cursor-pointer text-green-dark px-5 my-3">{{"partnership" | translate}}
    </div>
    <hr> -->


    <div (click)="onOpenMarketForMob()" class="flex cursor-pointer justify-between">
      <button class=" font-medium inline-flex items-center cursor-pointer">
        <span
          [ngClass]="{'text-primary-500' : router.url === '/market&alerts/news_detail' || router.url === '/market&alerts/technical_analysis' }"
          class="my-3 px-5 cursor-pointer">{{"market&alerts" | translate}}</span>
      </button>
      <img [ngClass]="{'rotate-180' : !isMarketOpen }" class="mx-5" src="../../../assets/icons/nav-down-icon.svg">
    </div>
    <hr>

    <div *ngIf="isMarketOpen" class="w-full">
      <ul class=" w-full bg-white dropdown-shadow rounded-md py-3 group-hover:block">
        <li class=" py-2 ">
          <a (click)="homeService.onChangeStatus('')" routerLink="/market&alerts/news_detail"
            routerLinkActive="bg-green-gray"
            class=" text-green-dark cursor-pointer rounded text-sm font-medium hover:bg-green-gray py-2 px-10 block whitespace-no-wrap">
            {{"news" | translate}}
          </a>
        </li>

        <li class=" py-2 ">
          <a (click)="homeService.onChangeStatus('')" routerLink="/market&alerts/technical_analysis"
            routerLinkActive="bg-green-gray" [routerLinkActiveOptions]="{exact:true}"
            class=" text-green-dark cursor-pointer rounded text-sm font-medium hover:bg-green-gray py-2 px-10 block whitespace-no-wrap">
            {{"technicalanalysis" | translate}}
          </a>
        </li>




      </ul>
      <div class="h-5"></div>

    </div>




    <div (click)="onOpenAboutForMob('')" class="flex cursor-pointer justify-between">
      <button class=" font-medium inline-flex items-center cursor-pointer">
        <span [ngClass]="{'text-primary-500' : router.url === '/about' }" class="my-3 px-5 cursor-pointer">{{"about" |
          translate}}</span>
      </button>
      <img [ngClass]="{'rotate-180' : !isAboutOpen }" class="mx-5" src="../../../assets/icons/nav-down-icon.svg">
    </div>
    <hr>


    <div *ngIf="isAboutOpen" class="w-full">
      <ul class="w-full bg-white dropdown-shadow rounded-md py-3 group-hover:block">

        <li class=" py-2">
          <a class="text-gray-400 rounded text-sm font-medium py-2 px-10 block whitespace-no-wrap">
            {{"whyblackfx" | translate}}
          </a>
        </li>
        <!-- <li class="py-2">
          <a>
            <div class="text-gray-400 cursor-pointer rounded text-sm font-medium  py-2 px-10 block whitespace-no-wrap">
              {{"partners" | translate}}
            </div>
          </a>
        </li> -->

        <li class="py-2">
          <a (click)="homeService.onChangeStatus('payment')">
            <div (click)="onPayment()" [ngClass]="{'bg-green-gray' : homeService.status == 'payment' }"
              class="text-green-dark cursor-pointer rounded text-sm font-medium hover:bg-green-gray py-2 px-10 block whitespace-no-wrap">
              {{"payments" | translate}}
            </div>
          </a>
        </li>
        <li class=" py-2">
          <!-- (click)="homeService.onChangeStatus('contactus')" -->
          <a>
            <div   (click)="onContactUs()" [ngClass]="{'bg-green-gray' : homeService.status == 'contactus' }"
              class="text-green-dark cursor-pointer rounded text-sm font-medium hover:bg-green-gray py-2 px-10 block whitespace-no-wrap">
              {{"contactus" | translate}}
            </div>
          </a>

        </li>
        <li class="py-2">
          <a (click)="homeService.onChangeStatus('')" routerLink="/about" routerLinkActive="bg-green-gray"
            [routerLinkActiveOptions]="{exact:true}"
            class="text-green-dark cursor-pointer rounded text-sm font-medium hover:bg-green-gray py-2 px-10 block whitespace-no-wrap">
            {{"about2" | translate}} {{"us" | translate}}
          </a>
        </li>
      </ul>
      <div class="h-5"></div>

    </div>


    <div class="font-medium cursor-pointer font-roboto text-green-dark px-5 my-3">{{"f&q" | translate}}
    </div>
    <hr>

    <div (click)="onOpenlanguageForMob()" class="flex cursor-pointer justify-between">
      <button class=" font-medium inline-flex items-center cursor-pointer">
        <span class="my-3 px-5 cursor-pointer font-roboto capitalize"> {{languageService.selectedLanguage}}</span>
      </button>
      <img [ngClass]="{'rotate-180' : !isLanguageOpen}" class="mx-5" src="../../../assets/icons/nav-down-icon.svg">
    </div>
    <hr>

    <div *ngIf="isLanguageOpen" class="w-full">
      <ul class="w-full font-roboto bg-white dropdown-shadow rounded-md py-3 group-hover:block">
        <li class=" py-2" (click)="onOpenLanguageDropdown('ku')"
          [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'ku'}">
          <a class="text-green-dark rounded text-sm font-medium py-2 px-10 block whitespace-no-wrap">
            Ku
          </a>
        </li>
        <li class="py-2" (click)="onOpenLanguageDropdown('ar')"
          [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'ar'}">
          <a>
            <div
              class="text-green-dark cursor-pointer rounded text-sm font-medium  py-2 px-10 block whitespace-no-wrap">
              Ar
            </div>
          </a>
        </li>
        <li class="py-2" (click)="onOpenLanguageDropdown('en')"
          [ngClass]="{'bg-green-gray' : languageService.selectedLanguage == 'en'}">
          <a>
            <div [ngClass]="{'bg-green-gray' : homeService.status == 'payment' }"
              class="text-green-dark cursor-pointer rounded text-sm font-medium hover:bg-green-gray py-2 px-10 block whitespace-no-wrap">
              En
            </div>
          </a>
        </li>


      </ul>
      <div class="h-5"></div>

    </div>


  </div>

  <div class="h-12"></div>
</div>





<!-- <div *ngIf="isProfileNavOpen" class=" fixed top-16 md:hidden  z-30 w-full shadow-lg bg-white">
  <div class="w-full text-green-dark bg-white ">


    <div class="w-full">
      <ul class="w-full  bg-white dropdown-shadow rounded-md py-3 group-hover:block">
        <li (click)="onPortal()" class=" py-2">

          <a class="text-green-dark rounded text-sm font-medium py-2 px-5 block whitespace-no-wrap">
            {{"portal" | translate}}
          </a>
        </li>
        <hr>
        <li class="py-2" [ngClass]="{'bg-green-gray' : selectedLanguage == 'ar'}">
          <a>
            <div (click)="onLogout()"
              [ngClass]="{' text-gray-400' : token == '' , 'text-gray-700 hover:bg-green-gray' : token != '' }"
              class="text-green-dark cursor-pointer rounded text-sm font-medium  py-2 px-5 block whitespace-no-wrap">
              {{"logout" | translate}}
            </div>
          </a>
        </li>
      </ul>
      <div class="h-3"></div>
    </div>

  </div>

  <div class="h-12"></div>
</div> -->