<div class="bg-white flex flex-col items-center w-full">
    <div class="h-52"></div>
    <div class="tracking-wide text-green-dark font-semibold lg:text-[2vw] md:text-[2.8vw] text-[5vw]">
        {{"tradingservices" | translate}}</div>
    <div class="h-16"></div>

    <div
        class="w-[80vw] text-center lg:flex lg:justify-center md:grid md:grid-cols-2 md:gap-[10vw] lg:gap-[4vw] gap-[20vw]  grid grid-cols-1  ">

        <div class="flex flex-col justify-center items-center">
            <img class=" lg:w-[5vw] md:w-[9vw] w-[20vw] " src="../../../assets/icons/brokerage.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw] font-medium ">{{"brokerage" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.5vw] leading-[7vw] ">
                {{"brokeragetext" |
                translate}}</div>
        </div>


        <!-- <div class="flex flex-col justify-center items-center">
            <img class="lg:w-[5vw] md:w-[9vw] w-[20vw] " src="../../../assets/icons/partnership.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw]  font-medium">{{"partnership" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] leading-[7vw] ">
                {{"partnershiptext" |
                translate}}</div>
        </div> -->


        <div class="flex flex-col justify-center items-center ">
            <img class="lg:w-[5vw] md:w-[9vw] w-[20vw] " src="../../../assets/icons/education.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw]  font-medium">{{"education" |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.5vw] leading-[7vw] ">
                {{"educationtext" |
                translate}}</div>
        </div>

        <div class="flex flex-col justify-center items-center ">
            <img class=" lg:w-[5vw] md:p-[0.4vw] p-[1vw] md:w-[9vw] w-[20vw] "
                src="../../../assets/icons/fundamental-analysis.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw]  font-medium">{{"fundamentalanalysis"
                |
                translate}}</div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.5vw] leading-[7vw] ">
                {{"fundamentalanalysistext"
                |
                translate}}</div>
        </div>

        <div class="flex flex-col justify-center items-center ">
            <img class=" lg:w-[5vw] md:p-[0.4vw] p-[1vw] md:w-[9vw] w-[20vw] "
                src="../../../assets/icons/trtechnical-analysis.svg">
            <div class="h-3"></div>
            <div class="text-green-dark lg:text-[1.4vw] md:text-[2.5vw] text-[5vw]  font-medium">{{"technicalanalysis" |
                translate}}
            </div>
            <div class="h-3"></div>
            <div class="text-gray-900 lg:text-[0.9vw] md:text-[1.5vw] text-[4vw] md:leading-[21px] lg:leading-[1.5vw] leading-[7vw] ">
                {{"technicalanalysistext"
                |
                translate}}</div>
        </div>

    </div>
    <div class="h-20"></div>
</div>