<div class="w-full flex flex-col items-center bg-light-gray">
    <div class="h-24"></div>
    <div class="tracking-wide text-green-dark font-semibold lg:text-[2vw] md:text-[2.8vw] text-[5vw]">
        {{"latestnews" | translate}}
    </div>
     
    <div class="h-10"></div>

    <swiper dir="rtl" id="latest-news" [spaceBetween]="30" [slidesPerView]="3" [slidesPerGroup]="3" [loop]="true"
        [loopFillGroupWithBlank]="true" [centeredSlides]="true" [pagination]="{clickable: true}" 
        [autoplay]="{delay: 5000,  disableOnInteraction: false}" [speed]="500"  [navigation]="false"
        class="w-10/12 pb-16  ">
        <ng-template *ngFor="let itmes of newss; let i = index " swiperSlide>

            <div   routerLink="/market&alerts/news_detail/{{itmes._id}}"  [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl' "
                class="rounded-md bg-white  w-full shadow-md  text-ellipsis overflow-hidden ">
                
                <img [src]="imageUrl[i]" class="w-full  rounded-t-md">

                <div class="h-5"></div>
                <div [ngClass]="{'font-medium' : languageService.selectedLanguage == 'en' , 'font-semibold' : languageService.selectedLanguage != 'en'  }"
                    class="text-green-dark  px-5">  <!-- english -->
                    <div *ngIf="languageService.selectedLanguage == 'en'"  
                        class="  text-[1vw]">
                        {{itmes.title_en}}
                         
                    </div>
                    
                    <!-- arabic -->
                    <div *ngIf="languageService.selectedLanguage == 'ar'"  
                    class="  text-[1vw]">
                    {{itmes.title_ar}}
 
                </div> 
                
                <!-- kurdish -->
                <div  *ngIf="languageService.selectedLanguage == 'ku'"
                class="  text-[1vw]">
                {{itmes.title_ku}}
                  
                  </div>
                </div>
                <div class="h-[1vh]"></div>

                <div class="flex flex-col items-baseline">
                    <div class="text-gray-900 font-regular text-sm px-5 h-[20vh] text-ellipsis overflow-hidden lg:leading-[2vw]   leading-6">
                        <div *ngIf="languageService.selectedLanguage == 'en'"  
                        class="  text-[1vw]">
                        {{itmes.description_en}}
                        {{(showMore) ?  itmes.description_en : itmes.description_en | slice:0:500}}

                    </div>
                    <div *ngIf="languageService.selectedLanguage == 'ar'"  
                    class="  text-[1vw]">
                    {{itmes.description_ar}}
                    {{(showMore) ?  itmes.description_ar : itmes.description_ar | slice:0:500}}

                </div>
                <div    *ngIf="languageService.selectedLanguage == 'ku'"
                    class="  text-[1vw]">
                    {{itmes.description_ku}}
                    {{(showMore) ?  itmes.description_ku : itmes.description_ku | slice:0:500}}

                </div>
                        <!-- {{(showMore) ? ("news1"|translate) : ("news1"|translate) | slice:0:600}} -->
                    </div>
                    
                     
                   
                </div>

               
                <div class="h-[5vh]"></div>
            </div>

  
        </ng-template>
    </swiper>


    <!-- slider -->

 

 
</div>