<div class="w-full fixed z-30 flex justify-center">
    <div [ngClass]="{'hidden' : !showAlert , 'block transition ease-out' : showAlert}"
        class="absolute w-10/12 mx-auto px-8">
        <div class=" flex items-center shadow bg-primary-500 text-white text-sm font-bold px-4 py-3" role="alert">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path
                    d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z" />
            </svg>
            <p>{{"demoaccountsuccessfullycreated" | translate}}</p>
        </div>
    </div>
</div>

<div *ngIf="currencies != undefined" [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl'"
    class="w-full min-h-screen pt-5 pb-20 bg-light-gray">

    <img class="md:mx-20 mx-auto mt-1" src="../../../assets/icons/black-green-logo.svg">
    <div class="w-full my-5 text-green-dark font-medium lg:text-[2.5vw] md:text-[3vw] ext-[2vw] flex justify-center">
        {{"demoaccountregistration" | translate}}
    </div>


    <div class="lg:w-9/12 md:w-10/12 w-11/12 mx-auto py-10 lg:px-32 md:px-20 px-5 bg-white rounded-">


        <form  [formGroup]="demoAccountForm"  (ngSubmit)="onSubmitDemoAccount()"  class="w-full">
            <div class="h-10"></div>

            <!-- name -->
            <div class="w-full flex md:flex-row flex-col">
                <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="fistname">
                        {{"firstname" | translate}}
                    </label>
                    <input formControlName="firstName"
                        class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                          type="text">
                    <div *ngIf="firstNameError != ''" class="text-sm text-red-600 mx-3 mt-1">{{firstNameError}}
                    </div>
                </div>

                <div class="md:w-12 w-0 h-4 md:h-0"></div>

                <div class="mb-4 md:w-6/12 w-full">
                    <label class="block text-gray-700 text-sm mb-2" for="lastName">
                        {{"lastname" | translate}}
                    </label>
                    <input formControlName="lastName"
                        class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                         type="text">
                    <div *ngIf=" lastNameError != '' " class="text-sm text-red-600 mx-3 mt-1">{{lastNameError}}
                    </div>
                </div>
            </div>

            <div class="h-5"></div>

            <!-- country -->
            <div>
                <label for="countries" class="block text-gray-700 text-sm mb-2">
                    {{"countryofresidence" | translate}}
                </label>
                <div class="relative">
                    <select id="countries" formControlName="country"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option class="font-roboto" *ngFor="let country of countries" [value]="country['_id']">
                            {{country['name_en']}}</option>

                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>


            <div class="h-9"></div>

            <!-- email -->
            <div>
                <label for="email" class="block text-gray-700 text-sm mb-2">
                    {{"email" | translate}}
                </label>
                <input formControlName="email"
                    class=" appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      type="email">
                <div *ngIf=" emailError != ''" class="text-sm text-red-600 mx-3 mt-1">{{emailError}}
                </div>
            </div>


            <div class="h-9"></div>

            <!-- password -->
            <div class=" w-full">
                <label class="block text-gray-700 text-sm mb-2" for="password">
                    {{"password" | translate}}
                </label>
                <div class="relative">
                    <input formControlName="password"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                         [type]="showPassword ? 'text' : 'password'">
                    <div *ngIf="languageService.selectedLanguage == 'en'" (click)="onShowPassword()"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-5 cursor-pointer"
                            src="../../../assets/icons/{{showPassword ? 'hide' : 'show' }}.svg">
                    </div>

                    <div *ngIf="!(languageService.selectedLanguage == 'en')" (click)="onShowPassword()"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-5 cursor-pointer"
                            src="../../../assets/icons/{{showPassword ? 'hide' : 'show' }}.svg">
                    </div>
                </div>
                <div *ngIf=" passwordError != ''" class="text-sm text-red-600 mx-3 mt-1">{{passwordError}}
                </div>

            </div>

            <div class="h-9"></div>

            <!-- password confirem -->
            <div class="w-full">
                <label class="block text-gray-700 text-sm mb-2" for="confirem">
                    {{"confirempassword" | translate}}
                </label>
                <div class="relative">
                    <input formControlName="confiremPassword"
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                         [type]="showConfiremPassword ? 'text' : 'password'">
                    <div *ngIf="languageService.selectedLanguage == 'en'" (click)="onShowConfiremPassword()"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-5 cursor-pointer"
                            src="../../../assets/icons/{{showConfiremPassword ? 'hide' : 'show'}}.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')" (click)="onShowConfiremPassword()"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-5 cursor-pointer"
                            src="../../../assets/icons/{{showConfiremPassword ? 'hide' : 'show'}}.svg">
                    </div>
                </div>
                <div *ngIf="passwordConfiremError != ''" class="text-sm text-red-600 mx-3 mt-1">
                    {{passwordConfiremError}}
                </div>
            </div>



            <div class="h-9"></div>
            <!-- phone number -->
            <div class="w-full " dir="ltr">
                <label [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl' " for="phoneNumber"
                    class="block text-gray-700 text-sm mb-2">
                    {{"phonenumber" | translate}}
                </label>

                <ngx-intl-tel-input
                    [cssClass]="'form-control appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'"
                    [enableAutoCountrySelect]="true" [enablePlaceholder]="false" [searchCountryFlag]="true"
                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                    [selectedCountryISO]="CountryISO.Iraq" [phoneValidation]="true" name="phone"
                    formControlName="phoneNumber">
                </ngx-intl-tel-input>




                <div *ngIf=" phoneNumberError != ''" class="text-sm text-red-600 mx-3 mt-1"
                    [dir]="languageService.selectedLanguage == 'en' ? 'ltr' : 'rtl' ">{{phoneNumberError}}
                </div>
            </div>

            <div class="h-9"></div>

            <!-- trading platform type -->
            <div>
                <label for="tradingPlatformType" class="block text-gray-700 text-sm mb-2">
                    {{"tradingplatformtype" | translate }}
                </label>
                <div class="relative">
                    <select
                        [ngClass]="{'pr-4' : languageService.selectedLanguage == 'en', 'pl-10' : languageService.selectedLanguage != 'en'  }"
                        formControlName="platformType"  
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option selected value="mt5">MT5 (Forex, CFDs on Cryptocurrencies, Stocks, Equity Indices,
                            Metals, Energies)</option>

                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 bg-white cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>

            <div class="h-9"></div>

            <!-- currency -->
            <div>
                <label for="accountBaseCurrency" class="block text-gray-700 text-sm mb-2">
                    {{ "accountbasecurrency" | translate}}
                </label>
                <div class="relative">
                    <select formControlName="currency"  
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option class="font-roboto" *ngFor="let currency of currencies"  [value]="currency['_id']" >
                            {{currency['name']}}</option>
                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>

            <div class="h-9"></div>


            <!-- account type -->
            <div>
                <label for="accountType" class="block text-gray-700 text-sm mb-2">
                    {{"accounttype" | translate}}
                </label>
                <div class="relative">
                    <select formControlName="accountType"  
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option value="0">
                            Standard (1 lot=100,000)
                        </option>
                        <option value="6">
                            XM Ultra Low Standard (1 lot=100,000)
                        </option>
                    </select>

                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>

            <div class="h-9"></div>
            <!-- laverage -->
            <div>
                <label for="laverage" class="block text-gray-700 text-sm mb-2">
                    {{"leverage" | translate }}
                </label>
                <div class="relative">
                    <select formControlName="leverage"  
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option *ngFor="let laverage of leverages ;let i = index  " [selected]="i == 0"
                            [value]=" laverage">
                            1:{{laverage}}</option>
                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>



            <div class="h-9"></div>

            <!-- investment -->
            <div>
                <label for="investmentAmount" class="block text-gray-700 text-sm mb-2">
                    {{"investmentamount" | translate}}
                </label>
                <div class="relative">
                    <select formControlName="investmentAmount"  
                        class="appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        <option *ngFor="let investment of investments ; let i = index ;" 
                            >
                            {{investment}}</option>
                    </select>
                    <div *ngIf="languageService.selectedLanguage == 'en'"
                        class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                    <div *ngIf="!(languageService.selectedLanguage == 'en')"
                        class="absolute inset-y-0 left-0 pl-3 flex items-center text-sm leading-5">
                        <img class="w-3 cursor-pointer" src="../../../assets/icons/dropdown-open.svg">
                    </div>
                </div>

            </div>

            <div class="h-20"></div>



            <button   type="submit"
                class="block mx-auto w-7/12 py-3 bg-primary-500 border-2 border-primary-500 text-white font-medium  rounded-md hover:shadow-lg   focus:outline-none focus:ring-0 active:bg-primary-700  transition duration-150 ease-in-out">
                {{"openademoaccount" | translate}}
            </button>

            <div class="h-8"></div>

            <!-- <div class="text-gray-900 text-center font-medium flex justify-center">Already have an account? <span
                    class="text-primary-500 underline font-light">Login</span></div> -->

        </form>


    </div>
</div>